<?xml version="1.0" encoding="utf-8"?>
<!--模板配置-->
<TemplateConfig>
  <!--模板样式-->
  <TemplateStyle>majorweb</TemplateStyle>
  <!--模板根目录-->
  <TemplateRootPath>templates</TemplateRootPath>
  <!--输出文件根目录-->
  <OutputPath>outemplates</OutputPath>
  <!--模板头-->
  <HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者：&lt;#=Environment.UserName + "/" + Environment.MachineName#&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：版权所有 (C) 新生命开发团队 2002~&lt;#=DateTime.Now.ToString("yyyy")#&gt;
*/
</HeadTemplate>
  <!--是否覆盖原文件-->
  <IsCover>true</IsCover>
  <!--是否创建模板-->
  <IsCreateTemplate>true</IsCreateTemplate>
  <!--是否调试模式-->
  <IsDebug>false</IsDebug>
  <!--Cs页面路径-->
  <CsRootPath>NewLift.CMX.Web</CsRootPath>
  <!--忽略扩展名称(多项请用逗号分隔)-->
  <IgnoreExtendName>css,js,jpg,png,gif</IgnoreExtendName>
  <!--引入的程序集(多项请用逗号分隔)-->
  <ImportsAssembly>NewLife.CMX,NewLife.CMX.TemplateEngine</ImportsAssembly>
  <!--页面显示记录条数-->
  <RecordNum>10</RecordNum>
  <!--页面头路径-->
  <HeaderAddress>Header.html</HeaderAddress>
  <!--页脚路径-->
  <FootAddress>Foot.html</FootAddress>
  <!--左侧导航栏地址-->
  <LeftAddress>LeftMenu.html</LeftAddress>
  <!--跳转页面处理地址-->
  <GoPage>/Web/GoPageUrl.ashx</GoPage>
  <!--错误转向页-->
  <ErrorPage>Index.html</ErrorPage>
</TemplateConfig>