
#SlideItMoo_outer {
	overflow: hidden;
	width: 840px; 
	height: 160px;
	margin: 0 auto; 
	background: none; 
	display:block; 
	position:relative; 
	padding: 0 60px;
}
/* create custom forward-backward buttons for this container */
#SlideItMoo_outer .SlideItMoo_forward,
#SlideItMoo_outer .SlideItMoo_back{ 
	display:block; 
	position:absolute; 
	cursor:pointer; 
	width: 45px; 
	height: 160px; 
	bottom:0px; 
	right: 0px; 
	background: url(../../images/templatemo_nav_right.png) no-repeat center;  
}
#SlideItMoo_outer .SlideItMoo_back { 
	left:0px; 
	background: url(../../images/templatemo_nav_left.png) no-repeat center;  
}

/* the width is set to show the number of thumbnails that will be visible */
#SlideItMoo_inner{ 
	position:relative ; 
	overflow:hidden ; 
	width: 900px ; /* set a display width to make the slider look good in case js is disabled */
	margin:0px auto 0px;
	padding: 10px 0px 10px;
	
}
/* the thumbnails container; set a width on it so everything will be fine */
#SlideItMoo_items { 
	display:block; 
	position:relative;
}
/* single element design */
#SlideItMoo_items div.SlideItMoo_element { 
	display:block; 
	position:relative; 
	float:left; 
	margin:0px 15px 0px; 
	font-size:11px; 
	width: 158px;
	height: 160px;
	text-align:center; 
	font-family: Verdana, Geneva, sans-serif;
	color:#000000;
}
#SlideItMoo_items div.SlideItMoo_element img {
	margin: 0px;
	width: 146px;
	height: 104px;
}
#SlideItMoo_items div.SlideItMoo_element span {
	position: absolute;
	top: 0;
	left: 0;
	width: 158px;
	height: 160px;
	background: url(../../images/templatemo_image_frame.png) no-repeat
}
#SlideItMoo_items a { padding:0px; margin:3px 0px 3px; clear:both; display:block; background:none; padding:2px; }
#SlideItMoo_items a img{ border:none; }
