<?xml version="1.0" encoding="utf-8"?>
<AttachConfig>
  <!--附件上传目录。上传图片或附件的目录，自动创建在网站根目录下-->
  <Path>../../Upload</Path>
  <!--附件上传类型。以英文的逗号分隔开，如：“jpg,gif,rar”-->
  <Extension>jpg,gif,rar</Extension>
  <!--附件保存方式-->
  <SaveMode>0</SaveMode>
  <!--文件上传大小。单位KB。超过设置的文件大小不予上传，0不限制-->
  <FileSize>5242880</FileSize>
  <!--图片上传大小。单位KB。超过设置的图片大小不予上传，0不限制-->
  <SiteAttachimgsize>5242880</SiteAttachimgsize>
  <!--图片最大尺寸高。设置图片高和宽，超出自动裁剪，0为不受限制-->
  <ImgMaxHeight>0</ImgMaxHeight>
  <!--图片最大尺寸宽。设置图片高和宽，超出自动裁剪，0为不受限制-->
  <ImgMaxWidth>0</ImgMaxWidth>
  <!--生成缩略图大小高。图片生成缩略图高和宽，0为不生成-->
  <ThumbnailHeight>0</ThumbnailHeight>
  <!--生成缩略图大小宽。图片生成缩略图高和宽，0为不生成-->
  <ThumbnailWidth>0</ThumbnailWidth>
  <!--图片水印类型-->
  <WatermarkType>0</WatermarkType>
  <!--图片水印位置-->
  <WatermarkPosition>0</WatermarkPosition>
  <!--图片生成质量。只适用于加水印的jpeg格式图片.取值范围 0-100, 0质量最低, 100质量最高, 默认80-->
  <WatermarkImgQuality>0</WatermarkImgQuality>
  <!--图片水印文件。需存放在站点目录下，如图片不存在将使用文字水印-->
  <WatermarkPic />
  <!--水印透明度。取值范围1- -10 (10为不透明)-->
  <WatermarkTransparency>0</WatermarkTransparency>
  <!--水印文字。文字水印的内容-->
  <WatermarkText />
  <!--文字字体。文字水印的字体和大小-->
  <WatermarkFont />
  <!--文字字体大小。文字水印的字体和大小-->
  <WatermarkFontSize>0</WatermarkFontSize>
</AttachConfig>