<?xml version="1.0" encoding="utf-8"?>
<SysConfig>
  <!--安装目录。根目录下，输入“/”；如：http://abc.com/web，输入“web/”-->
  <Path>/Web</Path>
  <!--网站管理目录。默认是admin，如已经更改，请输入目录名-->
  <ManagePath>Admin</ManagePath>
  <!--URL重写开关-->
  <StaticStatus>0</StaticStatus>
  <!--静态URL后缀。扩展名，不包括“.”，如：aspx、html-->
  <StaticExtension>aspx</StaticExtension>
  <!--开启会员功能-->
  <SiteMemberStatus>0</SiteMemberStatus>
  <!--开启评论审核-->
  <CommentStatus>0</CommentStatus>
  <!--后台管理日志-->
  <LogStatus>0</LogStatus>
  <!--是否关闭网站-->
  <WebStatus>0</WebStatus>
  <!--关闭原因描述。支持HTML格式-->
  <CloseReason />
  <!--网站统计代码。支持HTML格式-->
  <CountCode />
</SysConfig>