<?xml version="1.0" encoding="utf-8"?>
<QiniuConfig>
  <!--是否启用云存储-->
  <IsEnable>true</IsEnable>
  <!--ACCESS_KEY-->
  <ACCESS_KEY>rrF_ejjCtlOGlmkf3Fs3fsYme-RnFnnVF6oUVyFb</ACCESS_KEY>
  <!--SECRET_KEY-->
  <SECRET_KEY>W_wmr0Kk8oYH9txmYzOjoBRhpnBD6kwH62YpKaeZ</SECRET_KEY>
  <!--BucketName-->
  <BucketName>zcfileserver</BucketName>
  <!--Domain-->
  <Domain>7xioaj.com1.z0.glb.clouddn.com</Domain>
</QiniuConfig>