<?xml version="1.0" encoding="utf-8"?>
<!--系统设置-->
<SysConfig>
  <!--系统名称。用于标识系统的英文名-->
  <Name>NewLife.CMX.Web</Name>
  <!--系统版本-->
  <Version>2.0.5625.27841</Version>
  <!--显示名称。用户可见的名称-->
  <DisplayName>新生命内容管理系统</DisplayName>
  <!--公司-->
  <Company>新生命开发团队</Company>
  <!--地址-->
  <Address>新生命开发团队</Address>
  <!--开发者模式-->
  <Develop>true</Develop>
  <!--启用-->
  <Enable>true</Enable>
  <!--安装时间-->
  <InstallTime>2015-05-27T15:28:07.154551+08:00</InstallTime>
</SysConfig>