header{ height: 125px !important; }
header .top{ width: 990px !important; }
header .header_warp{ width: 990px !important; }
header .nav_bg nav { width: 950px !important; }
header .nav_bg nav span { width: 117px; padding: 15px 2px 15px 0px;}

.banner_2015cj{ margin: auto; text-align:center; padding-top: 15px; padding-bottom: 15px; height: 55px;}

.main{ width: 990px !important;}
.search{ height: 24px !important; } 


.shadow .shadow_bottom{ height: 9px !important; }

.center1_ie6{ height: 320px !important; padding-bottom: 0px; } 
 
.main_left1{ height: 650px !important;}
.main_left2{ margin-left: 5px; }
.main_right{ margin-right: 4px;}
.main_right1{ height: 650px !important;}
 
.imgNews_box{ height: 258px !important; }

.banner_0_top{ height: 258px!important;}
.banner_0_bottom { bottom: 50px; }
.banner_0_bottom span{ background:url(../img/n_html55.gif) no-repeat;}
.banner_0_bottom span.on{ background:url(../img/n_html55.gif) right top no-repeat;}

.xwtt{ height: 258px !important; }
.topnews .title { height: 35px !important; } 

.xsjw{  }
 
 
.chanllist li { width: 65px !important; text-align: left;}
.chanllist li.tab_list_ie6 { width: 83px !important; text-align: left;}
.chanllist li.tab_list2_ie6 { width: 35px !important; text-align: left;}
.chanllist li.tab_list3_ie6 { width: 50px !important; text-align: left;}

.dfxs { height: 80px !important; }

.img_col { height: 160px !important; }

.hdjl .link_box .link1 { height: 50px !important; }
.hdjl .link_box .link2 { height: 50px !important; }


.widget .content{ margin-top: 45px !important;}
.vedio_con{ height: 206px !important; }
.gzdt_con { height: 260px !important;}
.edu_con { height: 215px !important; }
.lz_con { height: 215px !important; }
.ds_list { height: 215px !important; }

.link_list { height: 170px !important; } 
 


.main2{ width: 990px !important;}
.main2 .mainbg { width: 990px !important; }
.rh_box{ width: 958px !important; }

.main2 .mainbg .channllogo{ width: 940px !important; padding: 0px;}

 
.other_Location{ height:50px !important;}


.other_left{  margin-left: 4px; height: 980px; }
.other_right { margin-right: 4px;}
.blog_center{ width: 500px!important; }
 
.ds_box .dl0 dd{ height: 255px!important;}

.page a{ width:16px !important;}

 

.in_footer{ height:130px;} 

.iframe_style{ float: right; width: 718px; height: 1180px; margin-right: 15px; }