<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>蓝灰搭配企业站模板-分类</title>
<meta name="keywords" content="blue smoothie, gallery, free, website, template, css" />
<meta name="description" content="Blue Smoothie, Web Design Gallery" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" />    
    
<!-- Arquivos utilizados pelo jQuery lightBox plugin -->
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
<!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->

<!-- Ativando o jQuery lightBox plugin -->
<script type="text/javascript">
$(function() {
    $('#gallery a').lightBox();
});
</script>

</head>
<body id="sub">

<div id="templatemo_wrapper">
	<div id="templatmeo_header">
    	<div id="site_title"><h1><a href="http://www.cssmoban.com">Free CSS Templates</a></h1></div>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html" class="current">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
    
    <div id="templatemo_middle_sub">
        <div id="mid_title">Our Gallery</div>
        <p>Suspendisse potenti. Aenean tellus odio, blandit at egestas a, laoreet et tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel augue id sem sagittis mollis tempus sit amet erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ut ipsum dolor.</p>
	</div> <!-- end of middle -->
    
     <div id="templatemo_main">
        
        <div id="gallery">
            <ul>
                <li>
                    <a href="images/gallery/image_01_l.jpg" title="Aliquam in odio ut ipsum mollis facilisis."><span></span>
                        <img src="images/gallery/image_01_s.jpg" alt="Image" />
                    </a>
                    <em>Aliquam in odio ut ipsum mollis facilisis.</em>
                </li>
                <li>
                    <a href="images/gallery/image_02_l.jpg" title="Pellentesque gravida diam eget tellus."><span></span>
                        <img src="images/gallery/image_02_s.jpg" alt="Image" />
                    </a>
                    <em>Pellentesque gravida diam eget tellus.</em>
                </li>
                <li class="rm_col">
                    <a href="images/gallery/image_03_l.jpg" title="Curabitur ullamcorper magna sed erat."><span></span>
                        <img src="images/gallery/image_03_s.jpg" alt="Image" />
                    </a>
                    <em>Curabitur ullamcorper magna sed erat.</em>
                </li>
                
                <li>
                    <a href="images/gallery/image_04_l.jpg" title="Fusce in ipsum purus venenatis interdum."><span></span>
                        <img src="images/gallery/image_04_s.jpg" alt="Image" />
                    </a>
                    <em>Fusce in ipsum purus venenatis interdum.</em>
                </li>
                <li>
                    <a href="images/gallery/image_05_l.jpg" title="Proin elementum tortor et massa malesuada ut."><span></span>
                        <img src="images/gallery/image_05_s.jpg" alt="Image" />
                    </a>
                    <em>Proin elementum tortor et massa malesuada ut.</em>
                </li>
                <li class="rm_col">
                    <a href="images/gallery/image_06_l.jpg" title="Nulla nunc eros, tempus ut commodo sit."><span></span>
                        <img src="images/gallery/image_06_s.jpg" alt="Image" />
                    </a>
                    <em>Nulla nunc eros, tempus ut commodo sit.</em>
                </li>     
         	</ul>
            
            <div class="cleaner"></div>
       </div>
        
  </div> <!-- end of templatemo_main -->
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
    
    	<div class="col_allw300">
        	<h4>Our Pages</h4>
            <ul class="footer_list">
            	<li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    	<div class="col_allw300">
        	<h4>Our Partners</h4>
            <ul class="footer_list">
                <li><a href="#" target="_parent">Flash Gallery</a></li>            
            	<li><a href="#" target="_parent">Free Flash Templates</a></li>
                <li><a href="#" target="_parent">Free CSS Templates</a></li>
                <li><a href="#store" target="_parent">Premiun Templates</a></li>
                <li><a href="#" target="_parent">Web Design Blog</a></li>
            </ul>
        </div>
    	<div class="col_allw300 col_last">
        	<h4>About Us</h4>
            <p>Blue Smoothie is a <a href="#" target="_blank">free CSS template</a> brought to you by <a href="#" target="_blank">templatemo.com</a>. Feel free to download, modify and apply this template for your websites. Credit goes to <a href="#" target="_blank">Free Photos</a>. Lorem ipsum dolor sit amet. Nullam faucibus ipsum ac sapien tincidunt auctor. Nunc risus tortor. Validate <a href="#/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="#/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
        </div>                
    
        <div class="cleaner"></div>
    
    </div> <!-- end of templatemo_footer -->
     <div class="cleaner"></div>
</div>


<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    	
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.cssmoban.com/" target="_parent">Website Templates</a> | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
        
    </div> <!-- end of templatemo_footer -->
</div>

</body>
</html>