################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/
*.suo
*.user

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml
/Src/Data
/Src/NewLife.CMX.Web/Config
/Src/NewLife.CMX.Web/Content
/Src/NewLife.CMX.Web/Plugins
/Src/NewLife.CMX/set.config
/Src/NewLife.CMX/Config
/Src/Avatars
/Src/NewLife.CMX.Web/Content/Cube.js
/Src/NewLife.CMX.Web/Content/Cube.css
/Src/NewLife.CMX.Web/Content/ace
/Src/NewLife.CMX.Web/Content/artDialog
/Src/NewLife.CMX.Web/Content/bootstrap
/Src/NewLife.CMX.Web/Content/bootstrap-switch
/Src/NewLife.CMX.Web/Content/DateTimePicker
/Src/NewLife.CMX.Web/Content/js
/packages
/Avatars
/Data
/Log
/NewLife.CMX.Web/Config
/NewLife.CMX.Web/Content/ace
/NewLife.CMX.Web/Content/artDialog
/NewLife.CMX.Web/Content/bootstrap
/NewLife.CMX.Web/Content/bootstrap-switch
/NewLife.CMX.Web/Content/DateTimePicker
/NewLife.CMX.Web/Content/images/logo
/NewLife.CMX.Web/Content/js
/NewLife.CMX.Web/Plugins
/NewLife.CMX.Web/Content/Cube.css
/NewLife.CMX.Web/Content/Cube.js
/NewLife.CMX.Web/upload
/NewLife.CMX/Config
/NewLife.CMX/Log
