################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/
*.suo
*.user

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml
/Src/Data
/Src/NewLife.CMX.Web/Config
/Src/NewLife.CMX.Web/Content
/Src/NewLife.CMX.Web/Plugins
/Src/NewLife.CMX/set.config
/Src/NewLife.CMX/Config
