@model NewLife.CMX.IInfo
@{
    var Channel = ViewBag.Channel as Channel;
    var Category = ViewBag.Category as ICategory;

    this.PushTitle(Model.Category.Name);
    this.PushTitle(Model.Title);
}
<div class="container">
    <div class="row">
        @Html.Partial("_Nav")
    </div>
    <div class="row">
        <h2 class="text-center">
            @Model.Title
        </h2>
        <div class="content">
            @Html.Raw(Model.ContentText)
        </div>
    </div>
</div>