@model NewLife.CMX.Category
@{
    var cat = Model;
    var pager = ViewBag.Pager as Pager;
}
<div class="container" style="min-height: 600px;">
    <div class="row">
        @await Html.PartialAsync("_Nav")
    </div>
    <h2 class="tith2">
        @cat.Name
    </h2>
    @{
        var childs = cat.Childs;
        if (childs.Count > 0)
        {
            @await Html.PartialAsync("_Category_Childs", cat)
        }
        else
        {
            <ul class="list_news_dl fixed">
                @foreach (var item in cat.GetInfos(pager))
                {
                    <li>
                        <a href="@Url.GetUrl(item)">
                            <i></i>@item.Title
                        </a>
                    </li>
                }
            </ul>
            @await Html.PartialAsync("_Category_Pager", cat)
        }
    }
</div>
