@model NewLife.CMX.Info
@{
    var inf = Model;
    this.PushTitle(inf.Category.Name);
    this.PushTitle(inf.Title);
}
<div class="container">
    <div class="row">
        @await Html.PartialAsync("_Nav")
    </div>
    <div class="row">
        <h2 class="text-center">
            @inf.Title
        </h2>
        <h3 class="text-center">
            <em class="e e1">来源：@inf.CreateUser</em>
            <em class="e e2">发布时间：@inf.CreateTime.ToFullString()</em>
            <em class="e e3">浏览：@inf.Views.ToString("n0")</em>
        </h3>
        <div class="content">
            <div>
                @await Html.PartialAsync(inf.ContentText)
            </div>
        </div>
    </div>
</div>