@model NewLife.CMX.IEntityTitle
@{
    var Channel = ViewBag.Channel as Channel;
    var Category = ViewBag.Category as IEntityCategory;

    this.PushTitle(Model.Category.Name);
    this.PushTitle(Model.Title);
}
<div class="container">
    <div class="row">
        @Html.Partial("_Nav")
    </div>
    <div class="row">
        <h2 class="text-center">
            @Model.Title
        </h2>
        <h3 class="text-center">
            <em class="e e1">来源：@(Model as IUserInfo).CreateUserName</em>
            <em class="e e2">发布时间：@Model.CreateTime.ToFullString()</em>
            <em class="e e3">浏览：@Model.Views.ToString("n0")</em>
        </h3>
        <div class="content">
            <style type="text/css">
                .TRS_Editor P {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor DIV {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor TD {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor TH {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor SPAN {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor FONT {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor UL {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor LI {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }

                .TRS_Editor A {
                    margin-top: 0;
                    margin-bottom: 1em;
                    line-height: 2;
                }
            </style>
            <div class="TRS_Editor">
                @Html.Raw(Model.ContentText)
            </div>
        </div>
    </div>
</div>