@model NewLife.CMX.IModel
@{
}
<h2 class="tith2">
    @Model 模型首页
</h2>
@foreach (var cat in Model.GetTopCategories())
{
    <div class="widget2 fixed">
        <h2 class="tit">
            <em>@cat.Name</em>
            <small style="float: right;">更多 &gt;&gt;</small>
        </h2>
        <div class="content">
            <ul class="list_news_dl fixed">
                @foreach (var item in cat.GetInfos())
                {
                    <li>
                        <a href="@this.GetUrl(item)">
                            <i></i>@item.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}