@model NewLife.CMX.IInfo
@{
    var Channel = ViewBag.Channel as Channel;
    var Category = ViewBag.Category as ICategory;

    this.PushTitle(Model.Category.Name);
    this.PushTitle(Model.Title);
}
<div class="container">
    <div class="row">
        @Html.Partial("_Nav")
    </div>
    <div class="row">
        <h2 class="text-center">
            @Model.Title
        </h2>
        <h3 class="text-center">
            <em class="e e1">来源：@(Model as IUserInfo).CreateUserName</em>
            <em class="e e2">发布时间：@Model.CreateTime.ToFullString()</em>
            <em class="e e3">浏览：@Model.Views.ToString("n0")</em>
        </h3>
        <div class="content">
            <div>
                @Html.Raw(Model.ContentText)
            </div>
        </div>
    </div>
</div>