<div id="templatemo_main">
    <div class="post_box">
        <h2>3D Company Logo Tips</h2>
        <div class="image_frame">
            <span></span>
            <img src="images/metalimages/templatemo_image_08.jpg" alt="Image 05" />
        </div>
        <p><span class="cat">June 24th in <a href="#">3D</a>, <a href="#">Interactive</a></span> | <a href="#">135 comments</a></p>
        <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Proin ornare mollis rhoncus. Donec fermentum condimentum gravida.</p>
        <a class="more float_l" href="#">More</a>
        <div class="cleaner"></div>
    </div>
    <div class="post_box">
        <h2>Creating Animated Banners</h2>
        <div class="image_frame">
            <span></span>
            <img src="images/metalimages/templatemo_image_09.jpg" alt="Image 06" />
        </div>
        <p><span class="cat">June 20th in <a href="#">Illustrations</a>, <a href="#">Designs</a></span> | <a href="#">164 comments</a></p>
        <p>Aliquam rutrum orci eget erat venenatis fermentum. Donec sit amet est eu metus vulputate auctor. Proin sapien nibh, fringilla et varius vitae, vehicula ac lorem. Duis ornare tempus feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis turpis ut mauris bibendum vehicula. </p>
        <a class="more float_l" href="#">More</a>
        <div class="cleaner"></div>
    </div>
    <div class="post_box">
        <h2>Web Design Tips</h2>
        <div class="image_frame">
            <span></span>
            <img src="images/metalimages/templatemo_image_07.jpg" alt="Image 07" />
        </div>
        <p><span class="cat">June 15th in <a href="#">Templates</a>, <a href="#">Freebie</a></span> | <a href="#">175 comments</a></p>
        <p>Praesent ultrices cursus rutrum. Phasellus vulputate dui sit amet lorem pellentesque ac tincidunt quam euismod. Aenean tincidunt viverra eros, vitae tempus mauris lobortis et. Proin dolor orci, pretium eget laoreet at, convallis vitae diam. Phasellus condimentum aliquam fermentum. </p>
        <a class="more float_l" href="#">More</a>
        <div class="cleaner"></div>
    </div>
</div>
