<div id="foot">
    <div class="foot_nav">
        <div class="g1"><a href='<#= WebSettingConfig.Index#>'>返回首页</a> | <a href='<#= WebSettingConfig.Contact#>'>联系我们</a> | <a href='#'>友情链接</a> | <a href='<#= WebSettingConfig.Forum#>'>技术论坛</a> | <a href='<#= WebSettingConfig.Shop#>'>月无声商城</a> |</div>
    </div>
    <div class="address">
        <#= WebSettingConfig.Copyright#> <#= WebSettingConfig.ICP#><br />
        <br />
        地址：<#= WebSettingConfig.Address#>  电话：<#= WebSettingConfig.Tel#>
    </div>
</div>
