 <div class="list">
    <h3><#= ArgDic["ChannelName"]#></h3>
    <div class="list_meu">
        <# int num=0;
		foreach(IEntityTree item in RootEntityTree.Childs)
		{#>
			<dl>
				<dt><a class='<# if(ArgDic["SelectedCategory"]=="0"){ if(num>=1){#>plus<#}else{#>minus<#}}else{if(ArgDic["SelectedCategory"].ToString()==item["ID"].ToString()){#>minus<#}else{#>plus<#}}#>' onclick="showHideNew(this,'it<#= num#>');" href='<# if((bool)item["IsEnd"]){#><#=Config.SysRootPath #>/List/<#= Suffix#>/<#= item["ID"]#>/<#= ArgDic["Address"]#>/<#= ModelShortName#>.html<#}else{#>javascript:void(0);<#}#>'><#= item["Name"]#></a></dt>
				<dd id="it<#= num#>" <# if(ArgDic["SelectedCategory"]=="0"){if(num>=1){#>style="display:none;"<#}}else{if(ArgDic["SelectedCategory"].ToString()!=item["ID"].ToString()){#>style="display:none;"<#}}#>>
					<ul>
						<# foreach(IEntityTree child in item.Childs)
						{#>
						<li><a href='<#= Config.SysRootPath #>/List/<#= Suffix#>/<#= child["ID"]#>/ArticleModelList/<#= ModelShortName#>.html'><#= child["Name"]#></a></li>
						<#}#>
					</ul>
				</dd>
			</dl>
		<# num+=1;
		}#>
    </div>
    <div class="list_bottom"></div>
    <div class="list_shadow"></div>
    <div class="list_phone"></div>
</div>
