<div id="templatemo_main">
    <div class="col_w450 float_l">
        <div id="contact_form">

            <h2>Quick Contact Form</h2>

            <form method="post" name="contact" action="#">

                <label for="author">Name:</label>
                <input type="text" id="author" name="author" class="required input_field" />
                <div class="cleaner h10"></div>

                <label for="email">Email:</label>
                <input type="text" class="validate-email required input_field" name="email" id="email" />
                <div class="cleaner h10"></div>

                <label for="subject">Subject:</label>
                <input type="text" class="validate-subject required input_field" name="subject" id="subject" />
                <div class="cleaner h10"></div>

                <label for="text">Message:</label>
                <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                <div class="cleaner h10"></div>

                <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />
                <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />

            </form>

        </div>
    </div>

    <div class="col_w450 float_r">
        <h4>Our Location</h4>
        <div id="map"><a href="images/metalimages/map_big.jpg" title="Our Location">
            <img width="300" height="150" src="images/metalimages/map_thumb.jpg" alt="Location" class="image_wrapper" /></a></div>
        <div class="cleaner h30"></div>

        <h4>Mailing Address</h4>
        <h6>Our Company</h6>
        360-180 Pellentesque habitant morbi,
        <br />
        Suspendisse tincidunt facilisis, 14450<br />
        Sed placerat ligula elit<br />
        <br />

        <strong>Phone:</strong>020-040-0550<br />
        <strong>Email:</strong><a href="mailto:info@yourcompany.com">info@yourcompany.com </a>
    </div>

    <div class="cleaner"></div>
</div>
