<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>月无声--五金模具</title>
    <meta name="keywords" content="blue smoothie, gallery, free, website, template, css" />
    <meta name="description" content="Blue Smoothie, Web Design Gallery" />
    <link href="style/metalcss/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="style/metalcss/jquery.lightbox-0.5.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="style/metalcss/jquery.lightbox-0.5.css" />

    <!-- Arquivos utilizados pelo jQuery lightBox plugin -->
    <script type="text/javascript" src="Scripts/metaljs/jquery.js"></script>
    <script type="text/javascript" src="Scripts/metaljs/jquery.lightbox-0.5.js"></script>
    
    <script type="text/javascript" src="Scripts/metaljs/cmx.js"></script>
    <!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->

    <!-- Ativando o jQuery lightBox plugin -->
    <script type="text/javascript">
        $(function () {
            $('#gallery a').lightBox();
        });
    </script>

</head>
<body id="sub">
    <div id="templatemo_wrapper">
        <!--菜单-->
        <#@include Name="Header"#>
        <!--banner-->
        <#= CMXExtend.Extend("galleryBanner.html",null,null,null,0,0,0,0,0)#>
        <!--内容-->
        <#= CMXExtend.Extend("galleryContent.html",null,null,null,0,0,0,0,0)#>
    </div>
    <#@include Name="Foot"#>
    <!--版权-->
    <#= CMXExtend.Extend("copyright.html",null,null,null,0,0,0,0,0)#>
</body>
</html>
