<div id="templatemo_main">
    <div id="templatemo_content">

        <div class="col_allw300">
            <h2>Products</h2>
            <p><em>Curabitur interdum, nulla sed posuere gravida, urna est lobortis odio, eu mauris lorem eu nisl.</em></p>
            <p>Aliquam in odio ut ipsum mollis facilisis. Integer est sem, dapibus vel massa. Curabitur vulputate ligula vel mi semper tempus. Vivamus volutpat, elit non tempor vehicula. Integer est sem, dignissim quis auctor vel, dapibus vel.</p>

            <ul class="templatemo_list">
                <li>Sed nec eros egestas nisl </li>
                <li>Morbi sed nulla ac est cursus </li>
                <li>Curabitur ullamcorper nibh </li>
                <li>Pellentesque adipiscing </li>
                <li>Aliquam eget nibh nulla</li>
                <li>Mauris imperdiet mollis nibh </li>
                <li>Sed vel diam eget enim</li>
                <li>Vestibulum at tellus mauris</li>
            </ul>
            <div class="cleaner"></div>
            <a href="#" class="more">Read more</a>
        </div>

        <div class="col_allw300">
            <h2>Updates</h2>
            <div class="sb_news_box">
                <img src="images/metalimages/templatemo_image_05.jpg" alt="Image 05" />
                <div class="news_date">OCT 28, 2048</div>
                <h6><a href="#">Fusce sem nulla, rutrum ac suscipit eget, commodo vitae est.</a></h6>

                <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
                <img src="images/metalimages/templatemo_image_03.jpg" alt="Image 03" />
                <div class="news_date">OCT 24, 2048</div>
                <h6><a href="#">Donec et purus velit, eget euismod risus consectetur dolo.</a></h6>

                <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
                <img src="images/metalimages/templatemo_image_04.jpg" alt="Image 04" />
                <div class="news_date">OCT 16, 2048</div>
                <h6><a href="#">Curabitur scelerisque, in lacinia massa consectetur sit amet.</a></h6>
                <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
                <img src="images/metalimages/templatemo_image_06.jpg" alt="Image 06" />
                <div class="news_date">OCT 12, 2048</div>
                <h6><a href="#">Praesent eu dolor nibh. In hac habitasse platea dictumst. </a></h6>
                <div class="cleaner"></div>
            </div>

            <a href="#" class="more">Read All</a>
        </div>

        <div class="col_allw300 col_last">
            <h2>Featured Sites</h2>
            <div class="fp_lw_box">
                <div class="image_frame">
                    <span></span>
                    <img src="images/metalimages/templatemo_image_01.jpg" alt="Image 01" />
                </div>
                <p><em>Morbi sed nulla ac est cursus suscipit ac lectus.</em></p>
            </div>
            <div class="fp_lw_box">
                <div class="image_frame">
                    <span></span>
                    <img src="images/metalimages/templatemo_image_02.jpg" alt="Image 02" />
                </div>
                <p><em>Proin iaculis dui vel lorem vulputate venenatis.</em></p>
            </div>
            <div class="cleaner"></div>
            <a href="#" class="more">Read more</a>
        </div>
        <div class="cleaner"></div>
    </div>
    <!-- end of templatemo_content -->
</div>
