@model NewLife.CMX.Channel
@{
}
<h2 class="tith2">
    @Model.Name
</h2>
@foreach (var category in Model.Categories)
{
    <div class="widget2 fixed">
        <h2 class="tit">
            <em>@category.Name</em>
            <small style="float: right;">更多 &gt;&gt;</small>
        </h2>
        <div class="content">
            <ul class="list_news_dl fixed">
                @foreach (var item in category.GetTitles())
                {
                    <li>
                        <a href="@this.GetUrl(item)">
                            <i></i>@item.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}