<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>蓝灰搭配企业站模板--博客</title>
<meta name="keywords" content="blue smoothie, free template, blog theme" />
<meta name="description" content="Blue Smoothie, Free Blog Theme, Web Design" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body id="sub">

<div id="templatemo_wrapper">
	<div id="templatmeo_header">
    	<div id="site_title"><h1><a href="http://www.cssmoban.com">Free CSS Templates</a></h1></div>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html" class="current">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
    
    <div id="templatemo_middle_sub">
        <div id="mid_title">
           	Our Blog Posts
        </div>
        <p>Fusce in tellus et arcu elementum commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed viverra mollis mauris eget volutpat. Etiam lacinia imperdiet libero, id euismod velit laoreet ut. Nam metus purus, varius sed dapibus id, porta ac velit. Quisque volutpat lobortis urna in adipiscing. </p>
	</div> <!-- end of middle -->
    
    <div id="templatemo_main">
        <div class="post_box">
            <h2>3D Company Logo Tips</h2>
            <div class="image_frame"><span></span><img src="images/templatemo_image_08.jpg" alt="Image 05" /></div>
            <p><span class="cat">June 24th in <a href="#">3D</a>, <a href="#">Interactive</a></span> | <a href="#">135 comments</a></p>
            <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Proin ornare mollis rhoncus. Donec fermentum condimentum gravida.</p>
            <a class="more float_l" href="#">More</a>
            <div class="cleaner"></div>
        </div>
        <div class="post_box">
            <h2>Creating Animated Banners</h2>
            <div class="image_frame"><span></span><img src="images/templatemo_image_09.jpg" alt="Image 06" /></div>
            <p><span class="cat">June 20th in <a href="#">Illustrations</a>, <a href="#">Designs</a></span> | <a href="#">164 comments</a></p>
            <p>Aliquam rutrum orci eget erat venenatis fermentum. Donec sit amet est eu metus vulputate auctor. Proin sapien nibh, fringilla et varius vitae, vehicula ac lorem. Duis ornare tempus feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis turpis ut mauris bibendum vehicula. </p>
            <a class="more float_l" href="#">More</a>
            <div class="cleaner"></div>
        </div>
        <div class="post_box">
            <h2>Web Design Tips</h2>
            <div class="image_frame"><span></span><img src="images/templatemo_image_07.jpg" alt="Image 07" /></div>
            <p><span class="cat">June 15th in <a href="#">Templates</a>, <a href="#">Freebie</a></span> | <a href="#">175 comments</a></p>
            <p>Praesent ultrices cursus rutrum. Phasellus vulputate dui sit amet lorem pellentesque ac tincidunt quam euismod. Aenean tincidunt viverra eros, vitae tempus mauris lobortis et. Proin dolor orci, pretium eget laoreet at, convallis vitae diam. Phasellus condimentum aliquam fermentum. </p>
            <a class="more float_l" href="#">More</a>
            <div class="cleaner"></div>
        </div>
    </div> <!-- end of templatemo_main -->
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
    
    	<div class="col_allw300">
        	<h4>Our Pages</h4>
            <ul class="footer_list">
            	<li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    	<div class="col_allw300">
        	<h4>Our Partners</h4>
            <ul class="footer_list">
                <li><a href="#" target="_parent">Flash Gallery</a></li>            
            	<li><a href="#" target="_parent">Free Flash Templates</a></li>
                <li><a href="#" target="_parent">Free CSS Templates</a></li>
                <li><a href="#store" target="_parent">Premiun Templates</a></li>
                <li><a href="#" target="_parent">Web Design Blog</a></li>
            </ul>
        </div>
    	<div class="col_allw300 col_last">
        	<h4>About Us</h4>
            <p>Blue Smoothie is a <a href="#" target="_blank">free CSS template</a> brought to you by <a href="#" target="_blank">templatemo.com</a>. Feel free to download, modify and apply this template for your websites. Credit goes to <a href="#" target="_blank">Free Photos</a>. Lorem ipsum dolor sit amet. Nullam faucibus ipsum ac sapien tincidunt auctor. Nunc risus tortor. Validate <a href="#/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="#/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
        </div>                
    
        <div class="cleaner"></div>
    
    </div> <!-- end of templatemo_footer -->
     <div class="cleaner"></div>
</div>


<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    	
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.cssmoban.com/" target="_parent">Website Templates</a> | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
        
    </div> <!-- end of templatemo_footer -->
</div>

</body>
</html>