<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>蓝灰搭配企业站模板--联系我们</title>
<meta name="keywords" content="blue smoothie, free templates" />
<meta name="description" content="Blue Smoothie, Contact Page, Contact Form" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" />    
    
<!-- Arquivos utilizados pelo jQuery lightBox plugin -->
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
<!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->

<!-- Ativando o jQuery lightBox plugin -->
<script type="text/javascript">
$(function() {
    $('#map a').lightBox();
});
</script>

</head>
<body id="sub">

<div id="templatemo_wrapper">
	<div id="templatmeo_header">
    	<div id="site_title"><h1><a href="http://www.cssmoban.com">Free CSS Templates</a></h1></div>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html" class="current">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
    
     <div id="templatemo_middle_sub">
        <div id="mid_title">Contact Information</div>
        <p>In vel sapien turpis, vel semper felis. In augue eros, semper sed interdum vel, eleifend nec tellus. Pellentesque lobortis aliquet sapien suscipit imperdiet. Cras egestas quam nec tortor ultricies dictum. Suspendisse vulputate, nibh at posuere dignissim, leo dolor sodales orci, ac sagittis erat nisi sit amet tellus. </p>
	</div> <!-- end of middle -->
    
     <div id="templatemo_main">
        <div class="col_w450 float_l">
            <div id="contact_form">
        
                <h2>Quick Contact Form</h2>
                
                <form method="post" name="contact" action="#">
					
						<label for="author">Name:</label> <input type="text" id="author" name="author" class="required input_field" />
						<div class="cleaner h10"></div>
													
						<label for="email">Email:</label> <input type="text" class="validate-email required input_field" name="email" id="email" />
						<div class="cleaner h10"></div>
											
						<label for="subject">Subject:</label> <input type="text" class="validate-subject required input_field" name="subject" id="subject"/>				               
						<div class="cleaner h10"></div>
							
						<label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
						<div class="cleaner h10"></div>				
												
						<input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />
						<input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />
						
				</form> 

            </div> 
        </div>
            
        <div class="col_w450 float_r">
            <h4>Our Location</h4>
            <div id="map"><a href="images/map_big.jpg" title="Our Location"><img width="300" height="150" src="images/map_thumb.jpg" alt="Location" class="image_wrapper" /></a></div>                
            <div class="cleaner h30"></div>
            
            <h4>Mailing Address</h4>
            <h6>Our Company</h6>
            360-180 Pellentesque habitant morbi, <br />
            Suspendisse tincidunt facilisis, 14450<br />
            Sed placerat ligula elit<br /><br />
			
			<strong>Phone:</strong>020-040-0550<br />
            <strong>Email:</strong><a href="mailto:info@yourcompany.com">info@yourcompany.com </a>
        </div>    	
    	
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
    
    	<div class="col_allw300">
        	<h4>Our Pages</h4>
            <ul class="footer_list">
            	<li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    	<div class="col_allw300">
        	<h4>Our Partners</h4>
            <ul class="footer_list">
                <li><a href="#" target="_parent">Flash Gallery</a></li>            
            	<li><a href="#" target="_parent">Free Flash Templates</a></li>
                <li><a href="#" target="_parent">Free CSS Templates</a></li>
                <li><a href="#store" target="_parent">Premiun Templates</a></li>
                <li><a href="#" target="_parent">Web Design Blog</a></li>
            </ul>
        </div>
    	<div class="col_allw300 col_last">
        	<h4>About Us</h4>
            <p>Blue Smoothie is a <a href="#" target="_blank">free CSS template</a> brought to you by <a href="#" target="_blank">templatemo.com</a>. Feel free to download, modify and apply this template for your websites. Credit goes to <a href="#" target="_blank">Free Photos</a>. Lorem ipsum dolor sit amet. Nullam faucibus ipsum ac sapien tincidunt auctor. Nunc risus tortor. Validate <a href="#/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="#/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
        </div>                
    
        <div class="cleaner"></div>
    
    </div> <!-- end of templatemo_footer -->
     <div class="cleaner"></div>
</div>

<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    	
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.cssmoban.com/" target="_parent">Website Templates</a> | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
        
    </div> <!-- end of templatemo_footer -->
</div>
</body>
</html>