body
{
    margin: 0px;
    padding: 0px;
}

#wrap
{
    width: 100%;
    background: url(../images/bg.jpg) repeat-x center top;
    margin: 0 auto;
    position: absolute;
}

#wrpper
{
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}

    #wrpper .header
    {
        width: 1021px;
		margin:0 auto;
        height: 224px;
        background: url(../images/header.jpg) no-repeat center bottom;
    }

#logo
{
    background: url(../images/logo.png) no-repeat;
    float: left;
    width: 400px;
    height: 90px;
    margin: 30px 0 0 0;
}

    #logo h1
    {
        padding: 20px 0 0 75px;
        color: white;
        font-weight: bold;
    }

#wrpper .header .mod
{
    width: 339px;
    height: 64px;
    margin: -30px 0 0 650px;
    float: left;
    display: inline;
}

#wrpper .header .mod ul{ width:140px; padding:0px; margin:0px;list-style:none; float:left;}
#wrpper .header .mod ul li{
	float:left;
	/*display:block;*/
	width:70px;
	padding:0px;
	
	list-style-image:url(../images/triangle.png);
	
}
#wrpper .header .mod ul li a{text-decoration:none; color:#ffffff; font-size:12px; }

  
    #wrpper .header .mod input
    {
        float: left;
        width: 100px;
        height: 20px;
        line-height: 20px;
		margin-top:10px;
    }

    #wrpper .header .mod form .botton
    {
        float: left;
        width: 60px;
        height: 25px;
        margin-left: 5px;
        display: inline;
    }

#wrpper .header .nav 
{
    bottom: 0px;
    height: 72px;
    margin: 0 auto;
    float: left;
}

.nav  ul
{
    margin: 0 0 0 6px;
    height: 72px;
}

    .nav  ul li
    {
        float: left;
        list-style-type: none;
        font-size: 20px;
        width: 115px;
        text-align: center;
    }

        .nav  ul li a
        {
            color: #000000;
            text-decoration: none;
            height: 68px;
            line-height: 90px;
            display: block;
        }

            .nav  ul li a:hover
            {
                background: url(../images/nav_hover.jpg);
            }
		.nav ul li#date
		{
			background: url(../images/nav_hover.jpg);
		}
/*下拉菜单*/
.child
{
    float: left;
}

    .child ul
    {
        float: left;
        margin: 0;
        padding: 0;
        width: 115px;
    }

        .child ul:first-child
        {
            padding-left: 40px;
            margin-left: 6px;
        }

        .child ul li
        {
            clear: both;
        }

.nav .child ul li a
{
    height: inherit;
    line-height: normal;
	width: 115px;
}

    .nav .child ul li a:hover
    {
        background: none;
    }

.close
{
    display: none;
}

.open
{
    display: block;
}

/*中间主体内容..........................................................................................................................................................................................*/
#index_1, #index_2,#articleContent,#foot
{
	width:1021px;
	margin:0 auto;
}
#index_1
{
    height: 332px;
    background: url(../images/mod_1.jpg);
}

.mod1
{
    float: left;
    width: 288px;
    height: 239px;
    margin: 71px 19px 0 0;
    display: inline;
}

.box
{
    width: 245px;
    height: 144px;
    border: 1px solid #0f6bdd;
    margin: 0 20px;
}

    .box img
    {
        width: 223px;
        height: 123px;
        border: 1px solid #0f6bdd;
        margin: 10px;
    }

.int
{
    width: 247px;
    height: 60px;
    margin: 0 20px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 12px;
    overflow: hidden;
}

.flash
{
    float: left;
    width: 708px;
    height: 290px;
    margin-top: 20px;
    display: inline;
}

#index_2
{
    height: 314px;
    background: url(../images/mod_2.jpg);
}

.mod2
{
    float: left;
    width: 288px;
    height: 239px;
    margin: 56px 0 0 0;
    display: inline;
}

.mod3
{
    float: left;
    width: 288px;
    height: 239px;
    margin: 56px 0 0 62px;
    display: inline;
}

.mod4
{
    float: left;
    width: 288px;
    height: 239px;
    margin: 56px 0 0 62px;
    display: inline;
}

#articleContent
{
    height: 270px;
}

.text
{
    float: left;
    width: 468px;
    height: 260px;
    margin: 0 0 0 0px;
}

.text2
{
    float: right;
    width: 468px;
    height: 260px;
    margin: 0 0 0 0px;
}

#articleContent .more
{
    float: left;
    width: 468px;
    height: 32px;
    background: url(../images/new_1.jpg);
}

#articleContent .more2
{
    float: left;
    width: 468px;
    height: 32px;
    background: url(../images/new_2.jpg);
}

#articleContent .more a, .more2 a
{
    text-decoration: none;
    color: black;
    margin: 8px 0 0 350px;
    display: inherit;
    width: 68px;
}

    #articleContent .more a:hover, .more2 a:hover
    {
        color: blue;
        border-bottom: solid 1px blue;
    }

#articleContent ul
{
    float: left;
    width: 444px;
    height: 225px;
    margin: 10px 0 0 5px;
    padding-left: 10px;
    border: 1px solid gray;
}

    #articleContent ul li
    {
        float: left;
        width: 404px;
        height: 29px;
        line-height: 27px;
        border-bottom: 1px solid #9cc4df;
        background: url(../images/jt.jpg) no-repeat;
        padding-left: 15px;
        margin-top: 5px;
        font-size: 12px;
        overflow: hidden;
    }

#foot
{	
    height: 160px;
    margin-top: 20px;
}

    #foot .foot_nav
    {
        height: 85px;
        background: url(../images/foot2.jpg) no-repeat;
    }

        #foot .foot_nav .g1
        {
            margin: auto;
            padding-top: 15px;
            width: 400px;
        }

            #foot .foot_nav .g1 a
            {
                text-decoration: none;
                color: gray;
                font-size: 12px;
            }

                #foot .foot_nav .g1 a:hover
                {
                    color: blue;
                }

    #foot .address
    {
        width: 460px;
        font-size: 12px;
        margin: 0 auto;
        color: gray;
    }
/*-产品与服务页面-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .top_image
    {
        height: 120px;
		width:960px;
		margin:0 auto;
	    padding-top:20px;
    }

.mainbody
{
	width:1021px;
    margin: 0 auto;
    position: relative;
	/*background: url("../images/mainbg.jpg") no-repeat scroll center top;*/
	top: 0px;
	left: 0px;
	height: 1306px;
}

/*左边列表项.......................................................................................................*/
.mainbody .list
{
	border: 1px solid #95bcf6;
    background-color: #e0e1e3;
    float: left;
    width: 180px;
    height: 800px;
    margin: 15px 0 0 30px;
}

    .mainbody .list #list_t
    {
        height: 53px;
        background-image: url(../images/list_bg.jpg);
        background-repeat: no-repeat;
        margin: 0px;
    }

       .list #list_t span
        {
            display: block;
            text-align: center;
            line-height: 53px;
            color: white;
            font-size: 22px;
        }

.list .list_meu
{
    margin: 0px;
    position: relative;
	top: 0px;
	left: 0px;
	height: 16px;
}
.list_meu{width:180px;margin:0px; float:left;}
.list_meu dl{margin-left:10px;}
.list_meu dl dt a{height:24px;line-height:24px;overflow:hidden;color:#3366cc;font-weight:800; text-decoration:none;}
.list_meu dl dt a span{display:inline-block;width:13px;height:15px;overflow:hidden;float:left;margin:0 5px 0 0;}
.list_meu dl dt a.minus span{background:url(../images/showbtn.gif) no-repeat;}
.list_meu dl dt a.plus span{background:url(../images/hidebtn.gif) no-repeat;}
.list_meu dl dd{margin:0px;}
.list_meu dl dd ul{padding:0px; margin:0px; list-style:none;}
.list_meu dl dd li{height:24px;line-height:24px;padding:0 0 0 18px; padding:0px;}
.list_meu dl dd li:hover{background-color:#cccccc; width:160px;}
.list_meu dl dd li a{font-size:12px;text-decoration:none; color:black; margin-left:20px;}


/*产品与服务右边的产品类表详细内容...................................................................................................................*/
.content
{
    width: 780px;
    float: right;
    margin: 15px 0 0 0;
}

.djsb
{
    height: 322px;
}
.p_t1, .p_t2, .p_t3, .p_t4
{
	 height: 40px;
    width: 307px;
}

.p_t1
{
   
    background-image: url(../images/t1.jpg);
}
.p_t2
{
   
    background-image: url(../images/t2.jpg);
}
.p_t3
{
   
    background-image: url(../images/t3.jpg);
}
.p_t4
{
   
    background-image: url(../images/t4.jpg);
}

.content ul
{
    margin: 10px 0 0 0;
    padding: 0px;
	height: 55px;
}

    .content ul li
    {
        height: 120px;
        border: solid 1px #fff;
        position: relative;
        float: left;
        padding: 4px 4px 4px 170px;
        display: inline;
        margin: 0 0px 10px 0;
        top: 0px;
        left: 0px;
	width: 200px;
}
        .content ul li span
        {
            display: block;
            width: 155px;
            height: 120px;
            overflow: hidden;
            position: absolute;
            left: 4px;
	top: 6px;
	right: 215px;
}

            .content ul li span a
            {
                display: block;
                width: 153px;
                height: 118px;
                border: solid 1px #fff;
                margin: 0;
                text-indent: -99999em;
                background-color: #CCCCCC;
            }

                .content ul li span a:hover
                {
                    border: solid 1px #f60;
                    width: 153px;
                    height: 118px;
                }

        .content ul li p.main-nav
        {
            margin: 0 0 0 0;
            width: 192px;
        }

            .content ul li p.main-nav a
            {
                font-size: 20px;
                font-weight: bold;
                color: #c03;
                padding-top: 0px;
                text-decoration: none;
            }

                .content ul li p.main-nav a:hover
                {
                    border-bottom: solid 1px #c03;
                }

    .content ul ul
    {
        padding: 0px;
	width: 105px;
}

        .content ul ul li
        {
            height: 18px;
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            height: 25px;
        }

            .content ul ul li a
            {
                text-decoration: none;
                color: black;
            }

                .content ul ul li a:hover
                {
                    border-bottom: solid 1px red;
                    color: red;
                }


/*about页面*/
.a1
{
	background:url(../images/about.jpg) no-repeat left;
	height: 29px;
}
	.a1 span,.c1 span
	{
		float:right;
		margin-right:20px;
		font-size:12px;
		color:gray;
	}
.font
{
	margin:25px 0 0 0px;
}
/*culture页面*/
#culture
{
	 width: 780px;
    float: right;
    margin: 15px 0 0 0;
}
#culture .c1
{
	background:url(../images/c1.jpg) no-repeat left;
	height: 39px;
}
#culture .c2
	{
	  margin-top:20px;
	  height: 167px;
	}
.p1,.p2, .p3,.p4
{
	float:left;
	width:164px;
	height:136px;
	background:url(../images/cul1.jpg) no-repeat top;
}
.p1 img,.p2 img,.p3 img,.p4 img
{
	width: 155px;
    height: 127px;
    margin:5px;
}
.p2, .p3,.p4
{
	margin-left:30px;
}
#culture .c2 p
{
	margin:10px 0 0 20px;
	color:black;
}
#culture .c2 a
{
	text-decoration:none;
}
#culture .c3
{
	margin-top:20px;
	height:418px;
}
#culture .c4
{
	float:left;
	width:306px;
	height:418px;
}
#culture .c4 #c4_t
{
	height:35px;
	background:url(../images/c4_t.jpg)
}
#culture .c4 .v1
{
margin-top:20px;
width:164px;
height:136px;
}