*{  color:#333;}
.right .cont
{
    line-height:200%;
    color:#333;
    text-indent:2em;
     
}
.rigtit
{
    text-align:center;
    color:#333;
    font-size:16px; 
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
 }
 
 

.askList ul  li
{
     height:34px;
     line-height:34px;
     border-bottom:1px solid #DCDCDC;
     background:url(../images/djimages/askList.gif) no-repeat;
     background-position:left center;
}
.askList ul  li span
{
    font-size:12px;
    float:right; 
}
.askList ul  li a
{
    font-size:12px;
    float:left;
    text-decoration:none;
    margin-left:15px;
    color:#333;
}
.askList ul  li a:hover
{
    color:Red;
}
.page
{
    margin-top:10px;
    text-align:center;
    height:30px;
    line-height:30px;
    float:left;
    width:760px;
}
.page a
{
    cursor:pointer;
}
.page a:hover
{
   color:Red;
   text-decoration:underline;
}




.videoList  ul li
{
    width:710px;
    height:95px;
    margin-top:15px;
}
.videoList  ul li .videoleft
{
    float:left;
    width:400px;
   
}
.videoList  ul li .videoleft div
{
    float:left;
    width:250px;
}
.videoList  ul li .videoleft  img
{
    width:140px;
    height:95px;
    float:left;
}
.videoList  ul li .videoleft .videotit
{
     width:250px;
     height:20px;
     overflow:hidden;
     font-size:15px;
     margin-left:10px;
}
.videoList  ul li .videoleft  .videodes
{
    width:250px;
    height:75px;
    line-height:150%;
    font-size:13px;
    margin-left:10px;
    overflow:hidden;
    color:#333;
}
.videoList  ul li .videorig
{
    float:right; 
    line-height:95px;
} 





.productList ul
{
    width:760px;    
}
.productList ul li
{
    float:left;
    width:135px;
    height:140px;
    margin-left:55px;
    margin-top:10px;
}
.productList ul li p
{
    text-align:center;
    height:40px;
    line-height:40px;
}
.productList ul li p a
{
    font-size:15px;
}
.productList ul li p a:hover
{
    color:Red;
}




.productInfo
{
    margin-top:10px;
    width:750px;
}
.productInfo img
{
    width:258px;
    height:196px;
    float:left;
}
.productInfo .infcont
{
    line-height:170%;
    color:Black;
    font-size:15px;
    width:449px;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.productInfo .infcont label
{   
    display:block;
    width:449px;
    text-align:left;
    font-size:24px;
    font-weight:bold;
}




.tabs
{
    width:758px;
    height:35px;
    background:url(../images/djimages/tabbg.jpg) no-repeat;
    float:left;
    margin-top:10px;
}
.tabul li
{
    float:left;
    color:White;
    cursor:pointer;
    font-size:15px;
    width:106px;
    height:38px;
    text-align:center;
    line-height:38px;
}
.tabcont
{
    display:none;
    width:750px;
    margin:0 auto;
    float:left;
    margin-left:5px;
    margin-top:10px;
}