.title
{
     width:976px;
     height:38px;
     background:url(../images/djimages/titlbg.jpg) no-repeat;
     line-height:38px;
     float:left;
} 
.title span
{ 
    margin-left:20px;
    font-size:16px;
    font-family:@黑体;
    font-weight:bold;
    color:White;
 }
.title label
{ 
     font-size:15px;
      color:White;
       margin-left:50px;
}  
.midcont
{  
     width:930px;
     height:530px;
     margin:0 auto;
     border:1px solid #fff; 
} 
.parentul
{ 
    width:930px;
}
.parentul li
{ 
    width:460px;
    float:left;
    height:60px;
    margin-top:10px; 
}
.parentul li img
 { 
    width:80px; 
    height:54px;
    float:left;
 }
.parentul li div
 {
    float:left; 
    width:380px;
     height:60px; 
 }
.parentul li div .ptitle
 {
     height:20px;
      margin-left:5px;
      color:#333333;
       font-size:15px;
 }
.types
 { 
     height:50px;
 }
.types  a,.types span
{ 
    float:left;
    color:#333333;
    margin-top:4px; 
    text-decoration:none; 
    margin-left:5px; 
    font-size:12px; }
.types  a:hover
{ 
    color:Red;
 }   