<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/majorcss/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="style/majorcss/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="style/majorcss/style.css" type="text/css" media="all">
    <script type="text/javascript" src="Scripts/majorjs/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="Scripts/majorjs/jquery.anythingslider.js"></script>
    <script type="text/javascript" src="Scripts/majorjs/jquery.easing.1.2.js"></script>
    <script type="text/javascript">

        function formatText(index, panel) {
            return index + "";
        }

        $(function () {

            $('.anythingSlider').anythingSlider({
                easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
                autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
                delay: 3000,                    // How long between slide transitions in AutoPlay mode
                startStopped: false,            // If autoPlay is on, this can force it to start stopped
                animationTime: 600,             // How long the slide transition takes
                hashTags: true,                 // Should links change the hashtag in the URL?
                buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
                pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
                startText: "Play",             // Start text
                stopText: "Stop"               // Stop text
            });
        });
    </script>
    <!--[if lt IE 7]>
  <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
  <script type="text/javascript" src="js/ie_png.js"></script>
  <script type="text/javascript">
      ie_png.fix('.png');
  </script>
<![endif]-->
    <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div id="main">
        <!-- header -->
        <header>
            <div class="logo">
                <h1><a href="index.html">Consulte<i>X</i></a></h1>
                <span class="description">our customers support</span>
            </div>
            <a href="#" class="rss">RSS Submit</a>
            <nav>
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="index-1.html" class="current">About Us</a></li>
                    <li><a href="index-2.html">Solutions</a></li>
                    <li><a href="index-3.html">Partners</a></li>
                    <li><a href="index-4.html">Clients</a></li>
                    <li><a href="index-5.html">Contacts</a></li>
                </ul>
            </nav>
        </header>
        <section id="main-banner">
            <div class="intro">
                <div class="inner"><strong>trust our</strong> experience to manage your <span>business!</span> </div>
            </div>
            <div class="anythingSlider">
                <div class="wrapper">
                    <ul>
                        <li>
                            <img src="images/slide1.png" alt=""></li>
                        <li>
                            <img src="images/slide2.png" alt=""></li>
                        <li>
                            <img src="images/slide3.png" alt=""></li>
                        <li>
                            <img src="images/slide4.png" alt=""></li>
                        <li>
                            <img src="images/slide5.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>
        <aside class="top">
            <div class="container_12">
                <div class="wrapper">
                    <div class="grid_4 divider">
                        <div class="inner">
                            <h3>
                                <img src="images/icon1.png" alt="">Our advantages<span></span></h3>
                            Wnec porta diam eu massa. Quisque diam  vitae, pede. Donec eget tellus non erat lacinia fermen tum. Donec in velit ve... <a href="#" class="link1">More Info</a>
                        </div>
                    </div>
                    <div class="grid_4 divider">
                        <div class="inner">
                            <h3>
                                <img src="images/icon3.png" alt="">why choose us<span></span></h3>
                            Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec llus non erat lacini a fermentc in velit ve... <a href="#" class="link1">More Info</a>
                        </div>
                    </div>
                    <div class="grid_4">
                        <div class="inner">
                            <h3>
                                <img src="images/icon2.png" alt="">Company History<span></span></h3>
                            Diam lorem, interdum vitae, dapibus ac, scelerisq ue vitae, pede. Donec llus non erat lacinia ferm entc in velit ve... <a href="#" class="link1">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="wrapper">
            <!-- content -->
            <section id="content">
                <div class="container_12">
                    <div class="wrapper">
                        <div class="grid_8">
                            <div class="indent">
                                <article>
                                    <div class="inside1">
                                        <h2>A few words about us</h2>
                                        <div class="wrapper">
                                            <img src="images/2page-img1.jpg" alt="" class="img-indent">
                                            <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                                            <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                                            <a href="#" class="button">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="last">
                                    <div class="wrapper">
                                        <div class="grid_4 colborder alpha">
                                            <div class="inside1">
                                                <h2>Our capabilities</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Donec fringilla</a>, dui vitae aliquet facilisis, nisl ipsum vestibulum magna, ac dapibus turpis turpis non neque.</p>
                                                <p>In faucibus lorem sed libero sollicitudin vitae iaculis <a href="#">nunc auctor</a>. In id arcu sit amet libero vestibulum suscipit.</p>
                                                <p class="p3">Vestibulum porttitor metus quis urna faucibus quis interdum sapien malesuada. Donec sed ante id <a href="#">justo pharetra ornare</a>.</p>
                                                <a href="#" class="button">Read More</a>
                                            </div>
                                        </div>
                                        <div class="grid_4 omega">
                                            <div class="inside">
                                                <h2>Who we are</h2>
                                                <p>
                                                    <img src="images/2page-img2.jpg" alt=""></p>
                                                <p class="p3">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penibus et gnis dis parturient montescetur sit amet consec tetuer adipiscing elituris.</p>
                                                <a href="#" class="button">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <aside class="grid_4">
                            <div class="box">
                                <h2>Where we deliver</h2>
                                <ul class="list1">
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Consectetur adipiscing elit</a></li>
                                    <li><a href="#">Quisque porta tellus at</a></li>
                                    <li><a href="#">Sollicitudin in congue libero</a></li>
                                    <li><a href="#">Duis vulputate urna in</a></li>
                                    <li><a href="#">Velit ultrices tristique</a></li>
                                    <li><a href="#">Cras feugiat diam vitae</a></li>
                                    <li><a href="#">Donec ac tellus et metus pretium</a></li>
                                    <li><a href="#">Ut consectetur libero at nisi</a></li>
                                    <li><a href="#">Nulla facilisis pharetra sem</a></li>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Consectetur adipiscing elit</a></li>
                                    <li><a href="#">Quisque porta tellus at</a></li>
                                    <li><a href="#">Sollicitudin in congue libero</a></li>
                                    <li><a href="#">Duis vulputate urna in</a></li>
                                    <li><a href="#">Velit ultrices tristique</a></li>
                                </ul>
                                <div class="extra-links">
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
        <!-- footer -->
        <footer>
            <nav>
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="index-1.html" class="current">About Us</a></li>
                    <li><a href="index-2.html">Solutions</a></li>
                    <li><a href="index-3.html">Partners</a></li>
                    <li><a href="index-4.html">Clients</a></li>
                    <li><a href="index-5.html">Contacts</a></li>
                </ul>
            </nav>

        </footer>
    </div>
</body>
</html>
