<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><#= WebSettingConfig.Title#></title>
    <meta name="keywords" content="<#= WebSettingConfig.Keywords#>" />
    <meta name="description" content="<#= WebSettingConfig.Description#>" />
    <link rel="stylesheet" type="text/css" href="<#= Config.Root #>/style/css1.css" />
    <script src="<#= Config.Root #>/Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.Root #>/Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#@include Name="Header"#>
            <div class="mainbody">
                <div class="top_image">
                    <img src="<#= Config.Root #>/images/top_i2.jpg" width="1021" height="120" />
                </div>
               <#= CMXExtend.Extend("LeftMenuModelText","l",Suffix,ModelShortName,Convert.ToInt32(ArgDic["CategoryID"]),0,0,0,1)#>
                <div class="content">
                    <div class="e1">
                        <div class="e1_left"><strong><#= ArgDic["ChannelName"]#></strong></div>
                        <div class="e1_right">当前位置：首页 > <#= ArgDic["ChannelName"]#> > <#= Entity["CategoryName"]#></div>
                    </div>
                    <h2><#= Entity["Title"]#></h2>
                    <div class="otherInfo">浏览：<#= Entity["Hits"]#>&nbsp;次&nbsp;添加时间：【<#= ((DateTime)Entity["CreateTime"]).ToShortDateString()#>】</div>
                    <div id="article">
                        <#= Entity["ContentText"]#>
                    </div>
                </div>
            </div>
            <#@include Name="Foot"#>
        </div>
    </div>
</body>
</html>
