<div class="header">
    <div id="logo">
        <h1>东莞市月无声实业</h1>
    </div>
    <div class="mod">
        <ul>
            <li><a href="#" target="_blank">点胶设备</a></li>
            <li><a href="#" target="_blank">智能自控</a></li>
            <li><a href="#" target="_blank">化工胶水</a></li>
            <li><a href="#" target="_blank">五金模具</a></li>
        </ul>
        <form>
            <input name="" type="text" />
            <input name="搜索" type="submit" class="botton" id="搜索" value="搜索" />
        </form>
    </div>
    <div class="nav">
        <div class="parent">
            <ul>
                <li class="index"><a href='<#= Config.SysRootPath#>/index.html'>网站首页</a></li>
                <li class="about"><a href='<#= Config.SysRootPath#>/List/GYYWS/ArticleModelList.html'>关于月无声</a></li>
                <li class="product"><a href='<#= Config.SysRootPath#>/List/CPYFW/ProductModelList.html'>产品与服务</a></li>
                <li class="com"><a href="#">企业文化</a></li>
                <li class="recruitment"><a href='<#= Config.SysRootPath#>/List/RCZP/TextModelList.html'>人才招聘</a></li>
                <li class="new"><a href='<#= Config.SysRootPath#>/List/XWZX/ArticleModelList.html'>新闻中心</a></li>
                <li class="forum"><a href="#">技术论坛</a></li>
                <li class="shop"><a href="#">月无声商城</a></li>
            </ul>
        </div>
        <div class="child">
            <ul class="about">
                <li><a href='<#= Config.SysRootPath#>/List/GYYWS/7/ArticleModelList.html'>公司简介</a></li>
                <li><a href='<#= Config.SysRootPath#>/List/GYYWS/9/ArticleModelList.html'>部门介绍</a></li>
                <li><a href='<#= Config.SysRootPath#>/List/GYYWS/8/ArticleModelList.html'>公司荣誉</a></li>
                <li><a href='<#= Config.SysRootPath#>/List/GYYWS/22/ArticleModelList.html'>联系我们</a></li>
            </ul>
            <ul class="product">
                <li id="product_01"><a href="#">点胶设备</a>
                    <dl>
                        <dt><a href="#">混合管</a></dt>
                        <dt><a href="#">点胶机</a></dt>
                        <dt><a href="#">点胶针头</a></dt>
                        <dt><a href="#">压力桶</a></dt>
                        <dt><a href="#">AB胶筒</a></dt>
                        <dt><a href="#">胶枪</a></dt>
                        <dt><a href="#">点胶阀门</a></dt>
                        <dt><a href="#">转接头</a></dt>
                        <dt><a href="#">密封件</a></dt>
                    </dl>
                </li>
                <li><a href="#">智能自动化</a>
                    <dl>
                        <dt><a href="#">自动化设备</a></dt>
                        <dt><a href="#">阿波罗智能控制器</a></dt>
                        <dt><a href="#">阿波罗物联网网关</a></dt>
                    </dl>
                </li>
                <li><a href="#">化工胶水</a>
                    <dl>
                        <dt><a href="#">水性万能胶</a></dt>
                        <dt><a href="#">单组份水性喷胶</a></dt>
                        <dt><a href="#">双组份水性喷胶</a></dt>
                        <dt><a href="#">手袋专用环保喷胶</a></dt>
                    </dl>
                </li>
                <li><a href="#">五金模具</a>
                    <dl>
                        <dt><a href="#">塑料A</a></dt>
                        <dt><a href="#">塑料B</a></dt>
                        <dt><a href="#">塑料C</a></dt>
                    </dl>
                </li>
            </ul>
            <ul class="new">
                <li><a href="<#= Config.SysRootPath#>/List/XWZX/7/ArticleModelList.html">公司新闻</a></li>
                <li><a href="<#= Config.SysRootPath#>/List/XWZX/9/ArticleModelList.html">行业新闻</a></li>
                <li><a href="<#= Config.SysRootPath#>/List/XWZX/12/ArticleModelList.html">咨询中心</a></li>
            </ul>
        </div>
    </div>
</div>
