<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><#= WebSettingConfig.Title#></title>
    <meta name="keywords" content="<#= WebSettingConfig.Keywords#>" />
    <meta name="description" content="<#= WebSettingConfig.Description#>" />
    <link rel="stylesheet" type="text/css" href="<#= Config.SysRootPath #>/style/css1.css" />
    <script type="text/javascript" src="<#= Config.SysRootPath #>/Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.SysRootPath #>/Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#= Header#>
            <div id="index_1">
                <div class="mod1">
                    <div class="box">
                        <a href="#" target="_blank">
                            <img src="images/mod1.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        专业生产各种点胶设备、耗材等，并提供非标定做。常规产品有:
                        <a href="#">混合管</a>
                        <a href="#">点胶机</a>
                        <a href="#">胶枪</a>
                        <a href="#">压力桶</a>
                        <a href="#">点胶针头</a>
                        <a href="#">AB胶筒</a>
                        <a href="#">转接头</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="flash">
                    <div class="hot-event">
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" style="width: 710px; height: 293px;" alt="点胶设备" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/2.jpg" width="710" height="293" alt="阿波罗声控" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/3.jpg" width="710" height="293" alt="化工胶水" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/4.jpg" width="710" height="293" alt="五金模具" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/5.jpg" width="710" height="293" alt="月无声" /></a>
                        </div>
                        <div class="switch-tab">
                            <a href="javascript:void(0);" onclick="return false;" class="current">1</a>
                            <a href="javascript:void(0);" onclick="return false;">2</a>
                            <a href="javascript:void(0);" onclick="return false;">3</a>
                            <a href="javascript:void(0);" onclick="return false;">4</a>
                            <a href="javascript:void(0);" onclick="return false;">5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="index_2">
                <div class="mod2">
                    <div class="box">
                        <a href="" target="_blank">
                            <img src="images/mod2.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        智能自动化设备是我公司自主研发生产的产品，主要有：
                        <a href="#">“阿波罗”工业控制器</a><br />
                        <a href="#">物联网网关</a>
                        <a href="#">自动化设备</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="mod3">
                    <div class="box">
                        <a href="" target="_blank">
                            <img src="images/mod3.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        水性喷胶与油性喷胶相比具有环保无毒、耐高温、防火区静电，无味零voc等优点，水性喷胶有：
                        <a href="#">水性万能胶</a>
                        <a href="#">单组份水性喷胶</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="mod4">
                    <div class="box">
                        &nbsp;
                    </div>
                    <div class="int">简介</div>
                </div>
            </div>
            <div id="articleContent">
                <div class="text">
                    <div class="more"><a target="_blank" href="<#= Config.SysRootPath#>/List/$/2/ArticleModelListSingle/WZ.html">更多&gt;&gt;</a></div>
                    <ul>
                        <#= NewLife.CMX.TemplateEngine.CMXExtend.Extend("indexArticleContent","c",null,"WZ",2,0,0,0,0)#>
                    </ul>
                </div>
                <div class="text2">
                    <div class="more2"><a href="#">更多&gt;&gt;</a></div>
                    <ul>
                        <!--<li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>1</li>-->
                    </ul>
                </div>
            </div>
            <#= Foot#>
        </div>
    </div>
</body>
</html>
