<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="灌胶机,混合管,AB胶枪,点胶针筒,点胶针头" />
    <meta name="description" content="月无声电子设备有限公司坐落在交通方便的东莞市区,毗邻深圳、广州、佛山、惠州等城市。其主要产品有：双液灌胶机，精准双液点胶机，混合管，点胶机,AB胶枪，点胶针头，AB胶筒，点胶针筒，点胶针头，不锈钢压力桶。月无声的点胶设备适用于：环氧树脂，PU，双组份硅胶和其他双组份流体材料。" />
    <title>混合管,灌胶机,AB胶枪,点胶针筒,点胶针头 - 月无声</title>
    <link rel="stylesheet" type="text/css" href="<#= Config.SysRootPath #>style/css1.css" />
    <script type="text/javascript" src="<#= Config.SysRootPath #>Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.SysRootPath #>Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#= ArgDic["Header"]#>
            <div id="index_1">
                <div class="mod1">
                    <div class="box">
                        <a href="#" target="_blank">
                            <img src="images/mod1.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        专业生产各种点胶设备、耗材等，并提供非标定做。常规产品有:
                        <a href="#">混合管</a>
                        <a href="#">点胶机</a>
                        <a href="#">胶枪</a>
                        <a href="#">压力桶</a>
                        <a href="#">点胶针头</a>
                        <a href="#">AB胶筒</a>
                        <a href="#">转接头</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="flash">
                    <div class="hot-event">
                        <!--<div class="switch-nav"><a href="#" onclick="return false;" class="prev"><i class="ico i-prev">上一个</i></a><a href="#" onclick="return false;" class="next"><i class="ico i-next">下一个</i></a></div>-->
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" style="width: 710px; height: 293px;" alt="点胶设备" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" width="710" height="293" alt="阿波罗声控" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" width="710" height="293" alt="化工胶水" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" width="710" height="293" alt="五金模具" /></a>
                        </div>
                        <div class="event-item">
                            <a href="#">
                                <img src="images/flash/1.jpg" width="710" height="293" alt="月无声" /></a>
                        </div>
                        <div class="switch-tab">
                            <a href="javascript:void(0);" onclick="return false;" class="current">1</a>
                            <a href="javascript:void(0);" onclick="return false;">2</a>
                            <a href="javascript:void(0);" onclick="return false;">3</a>
                            <a href="javascript:void(0);" onclick="return false;">4</a>
                            <a href="javascript:void(0);" onclick="return false;">5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="index_2">
                <div class="mod2">
                    <div class="box">
                        <a href="" target="_blank">
                            <img src="images/mod2.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        智能自动化设备是我公司自主研发生产的产品，主要有：
                        <a href="#">“阿波罗”工业控制器</a><br />
                        <a href="#">物联网网关</a>
                        <a href="#">自动化设备</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="mod3">
                    <div class="box">
                        <a href="" target="_blank">
                            <img src="images/mod3.jpg" width="223" height="123" /></a>
                    </div>
                    <div class="int">
                        水性喷胶与油性喷胶相比具有环保无毒、耐高温、防火区静电，无味零voc等优点，水性喷胶有：
                        <a href="#">水性万能胶</a>
                        <a href="#">单组份水性喷胶</a>
                        <a href="#">&gt;&gt;更多...</a>
                    </div>
                </div>
                <div class="mod4">
                    <div class="box">
                        &nbsp;
                    </div>
                    <div class="int">简介</div>
                </div>
            </div>
            <div id="articleContent">
                <div class="text">
                    <div class="more"><a target="_blank" href="<#= Config.SysRootPath #>List/SX/2/ArticleModelList.html">更多&gt;&gt;</a></div>
                    <!--<Custom:ListControl runat="server" ID="NewCenter" ChannelSuffix="SX" Count="6" CategoryName="迎泽区" />-->
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                </div>
                <div class="text2">
                    <div class="more2"><a href="#">更多&gt;&gt;</a></div>
                    <!-- <custom:listcontrol runat="server" id="ArticleControl1" channelsuffix="SX" count="6" categoryname="迎泽区" />-->
                    <ul>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>1</li>
                    </ul>
                </div>
            </div>
            <!--<div id="foot">
                <div class="foot_nav">
                    <div class="g1"><a href="#">返回首页</a> | <a href="#">联系我们</a> | <a href="#">友情链接</a> | <a href="#">技术论坛</a> | <a href="#">月无声商城</a> |</div>
                </div>
                <div class="address">
                    版权所有 © 2008-2012 东莞市月无声电子设备有限公司 粤ICP备09218017号<br />
                    <br />
                    地址：东莞市高埗镇冼沙村广场北路宝源工业区  电话：0769-23107897 0769-23107080
                </div>
            </div>-->
            <#= ArgDic["Foot"]#>
        </div>
    </div>
</body>
</html>
