<div class="list">
    <h3><#= ArgDic["ChannelName"]#></h3>
    <div class="list_meu">
        <# int num=0;
        foreach(IEntityTree item in RootEntityTree.Childs)
        {#>
        <dl>
            <dt><a href='javascript:void(0);' onclick=""><#= item["Name"]#></a></dt>
                <#foreach(IEntityTree son in item.Childs)
                {#>
                <dd id="d1">
                    <ul>
                        <li><a href='javascript:void(0);'><#= son["Name"]#></a></li>
                    </ul>
                </dd>
                <#}#>
        </dl>
        <#}#>
    </div>
    <div class="list_bottom"></div>
    <div class="list_shadow"></div>
    <div class="list_phone"></div>
</div>
