<#@template inherits="NewLife.CMX.ProductListPage"#>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><#= WebSettingConfig.Title#></title>
    <meta name="keywords" content="<#= WebSettingConfig.Keywords#>" />
    <meta name="description" content="<#= WebSettingConfig.Description#>" />
    <link rel="stylesheet" type="text/css" href="<#= Config.Root #>/style/css1.css" />
    <script type="text/javascript" src="<#= Config.Root #>/Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.Root #>/Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#@include Name="Header"#>
             <div class="mainbody">
                 <div class="top_image">
                     <img src="<#= Config.Root #>/images/top_i3.jpg" width="1021" height="120" />
                 </div>
                 <#@include Name="LeftMenu"#>
                 <div class="content">
                     <div class="pro">
                         <div class="p_t1"><strong><#= ArgDic["ChannelName"]#></strong><span>当前位置：首页 > <#= ArgDic["ChannelName"]#></span></div>
                         <ul class="u1">
                             <# foreach(IEntity entity in ListEntity){#>
                             <li><span>
                                 <img src='<#= Config.Root+entity["PhotoPath"]#>' width="118" height="98" /></span>
                                 <p class="main-nav"><a href="#"><#= entity["Title"]#></a></p>
                                 <ul>
                                     <li><a href="javascript:void();"><#= entity["CategoryName"]#></a></li>
                                 </ul>
                             </li>
                             <#}#>
                         </ul>
                     </div>
                     <div class="switch_meu">
                         <a href='<#= ArgDic["FirstUrl"]#>'>首页</a>&nbsp;<a href='<#= ArgDic["BeforeUrl"]#>'>上一页</a>&nbsp;&nbsp;<#= ArgDic["CurrentPage"]#>/<span class="pagecount"><#= ArgDic["PageCount"]#></span>页&nbsp;<a href='<#= ArgDic["NextUrl"]#>'>下一页</a>&nbsp;<a href='<#= ArgDic["LastUrl"]#>'>尾页</a>&nbsp;<input type="text" value="" class="page-num" tarurl='<#= Config.GoPage #>' />&nbsp;<a href="javascript:void(0);" class="goPage">Go</a>
                     </div>
                 </div>
             </div>
            <#@include Name="Foot"#>
        </div>
    </div>
</body>
</html>
