<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><#= WebSettingConfig.Title#></title>
    <meta name="keywords" content="<#= WebSettingConfig.Keywords#>" />
    <meta name="description" content="<#= WebSettingConfig.Description#>" />
    <link rel="stylesheet" type="text/css" href="<#= Config.SysRootPath #>/style/css1.css" />
    <script type="text/javascript" src="<#= Config.SysRootPath #>/Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.SysRootPath #>/Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#= Header#>
             <div class="mainbody">
                 <div class="top_image">
                     <img src="<#= Config.SysRootPath #>/images/top_i3.jpg" width="1021" height="120" />
                 </div>
                 <#= LeftMenu#>
                 <div class="content">
                     <div class="pro">
                         <div class="p_t1"><strong><#= ArgDic["ChannelName"]#></strong><span>当前位置：首页 > <#= ArgDic["ChannelName"]#></span></div>
                         <ul class="u1">
                             <# foreach(IEntity entity in ListEntity){#>
                             <li><span>
                                 <img src='<#= Config.SysRootPath+entity["PhotoPath"]#>' width="118" height="98" /></span>
                                 <p class="main-nav"><a href="#"><#= entity["Title"]#></a></p>
                                 <ul>
                                     <li><a href="javascript:void();"><#= entity["CategoryName"]#></a></li>
                                 </ul>
                             </li>
                             <#}#>
                         </ul>
                     </div>
                     <div class="switch_meu">
                         <a href='javascript:void(0);'>首页</a>&nbsp;<a href="javascript:void(0);">上一页</a>&nbsp;&nbsp;1/<#= ArgDic["CountNum"]#>页&nbsp;<a href='javascript:void(0);'>下一页</a>&nbsp;<a href='javascript:void(0);'>尾页</a>&nbsp;<input type="text" value="" class="page-num"/>&nbsp;<a href="javascript:void(0);">Go</a>
                     </div>
                 </div>
             </div>
            <#= Foot#>
        </div>
    </div>
</body>
</html>
