/*
 * 覆盖 Bootstrap 的默认样式
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


body {
    padding-top: 50px;
}

a {
    color: #274e13;
}

    a:hover, a:focus {
        color: #4ca91c;
    }

pre {
    border: none;
    background-color: transparent;
}

.jumbotron {
    text-align: center;
    background-color: #274e13;
    color: #fff;
}

    .jumbotron .logo {
        max-width: 20vh;
        max-height: 20vh;
    }

    .jumbotron .btn {
        background-color: #fff;
        color: #333;
    }

.navbar-inverse {
    background-color: #274e13;
    border-color: transparent;
    background-image: none;
}

    .navbar-inverse .navbar-brand {
        color: #efefef;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #e8e8e8;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #274e13;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }

        .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
            background-color: transparent;
        }

.footer {
    margin-top: 60px;
    text-align: center;
}

.docs-wrapper {
    margin-top: 30px;
}

.benefits p {
    font-size: 18px;
}
