@model NewLife.CMX.Category
@{
}
@foreach (var cat in Model.Childs)
{
    <div class="widget2 fixed">
        <h2 class="tit">
            <em>@cat.Name</em>
            <small style="float: right;">
                <a href="@Url.GetCategoryUrl(cat)">更多 &gt;&gt;</a>
            </small>
        </h2>
        <div class="content">
            <ul class="list_news_dl fixed">
                @foreach (var title in cat.GetInfos())
                {
                    <li>
                        <a href="@Url.GetUrl(title)">
                            <i></i>@title.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}