<aside class="top">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_6 divider">
                <div class="inner">
                    <h3>
                        <img src="images/majorimages/icon2.png" alt="">about membership<span></span></h3>
                    Pellentesque vestibulum elit sit amet ligula rhoncus tincidunt. Maecenas velit urna, ultricies et venenatis in, auctor eu velit iaculis eget dignissim urna. Phasellus sagittis urna non nisl tincidunt adipiscing... <a href="#" class="link1">More Info</a>
                </div>
            </div>
            <div class="grid_6">
                <div class="inner">
                    <h3>
                        <img src="images/majorimages/icon1.png" alt="">special offers<span></span></h3>
                    Vestibulum feugiat erat eu metus commodo sagittis. Duis pharetra erat et orci iaculis vitae facilisis tellus feugiat. Vivamus quis leo et risus aliquet feugiat at in lacus... <a href="#" class="link1">More Info</a>
                </div>
            </div>
        </div>
    </div>
</aside>
