<div class="wrapper">
    <!-- content -->
    <section id="content">
        <div class="container_12">
            <div class="wrapper">
                <aside class="grid_4">
                    <div class="box">
                        <h2>Clients list</h2>
                        <ul class="list1">
                            <li><a href="#">Apparel Businesses</a></li>
                            <li><a href="#">Business Services</a></li>
                            <li><a href="#">Children's Businesses</a></li>
                            <li><a href="#">Financial Services</a></li>
                            <li><a href="#">Gifts &amp; Novelties</a></li>
                            <li><a href="#">Home-Improvement Products</a></li>
                            <li><a href="#">Miscellaneous Products &amp; Services</a></li>
                            <li><a href="#">Network Marketing</a></li>
                            <li><a href="#">Personal-Care Businesses</a></li>
                            <li><a href="#">Photo Businesses</a></li>
                        </ul>
                        <div class="extra-links">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                    <div class="box">
                        <h2>Receive our Newsletter</h2>
                        <p>
                            We have new talented people and<br />
                            technologies every week, so stay in touch!
                        </p>
                        <form action="" id="newsletter-form">
                            <fieldset>
                                <input type="text"><input type="submit" value="ok"></fieldset>
                        </form>
                    </div>
                </aside>
                <div class="grid_8">
                    <div class="indent">
                        <article class="last">
                            <div class="inside">
                                <h2>Clients Programs</h2>
                                <div class="img-box">
                                    <img src="images/majorimages/5page-img1.jpg" alt="">
                                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="img-box">
                                    <img src="images/majorimages/5page-img2.jpg" alt="">
                                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="wrapper">
                                    <img src="images/majorimages/5page-img3.jpg" alt="" class="img-indent">
                                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
