<div class="wrapper">
    <!-- content -->
    <section id="content">
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_8">
                    <div class="indent">
                        <article>
                            <div class="inside1">
                                <h2>Contact Information</h2>
                                <div class="wrapper">
                                    <img src="images/majorimages/5page-img1.jpg" alt="" class="img-indent">
                                    <dl class="address">
                                        <dt><strong>The Company Name Inc.</strong><br />
                                            8901 Marmora Road,<br />
                                            Glasgow, D04 89GR.</dt>
                                        <dd><span>Freephone:</span>+1 800 559 6580</dd>
                                        <dd><span>Telephone:</span>+1 959 603 6035</dd>
                                        <dd><span>FAX:</span>+1 101 889 9898</dd>
                                        <dd>E-mail: <a href="#">mail@demolink.org</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </article>
                        <article class="last">
                            <div class="wrapper">
                                <div class="grid_4 colborder alpha">
                                    <div class="inside1">
                                        <h2>Contact form</h2>
                                        <form action="" id="contacts-form">
                                            <fieldset>
                                                <label>
                                                    <input type="text" value="Name:" onfocus="if(this.value=='Name:') this.value='';" onblur="if(this.value=='') this.value='Name:';" /></label>
                                                <label>
                                                    <input type="text" value="E-mail:" onfocus="if(this.value=='E-mail:') this.value='';" onblur="if(this.value=='') this.value='E-mail:';" /></label>
                                                <textarea onfocus="if(this.value=='Message:') this.value='';" onblur="if(this.value=='') this.value='Message:';">Message:</textarea>
                                                <div class="wrapper"><a href="#" class="button" onclick="document.getElementById('contacts-form').submit()">Submit</a><a href="#" class="button" onclick="document.getElementById('contacts-form').reset()">Clear</a></div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="grid_4 omega">
                                    <div class="inside">
                                        <h2>Locations</h2>
                                        <h6>Argentina</h6>
                                        <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penibus et gnis dis parturient montescetur sit amet consec tetuer adipiscing elituris.</p>
                                        <h6>Finland</h6>
                                        <p class="p3">Fermentum dictgned laoreet aliquam leo tellus. dolor dapibumentum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliquaerat volutpat. Duis ac turpis. Integer rutrumante eu lacusestibulum libero nisl</p>
                                        <a href="#" class="button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <aside class="grid_4">
                    <div class="box">
                        <h2>Friends links</h2>
                        <ul class="list1">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Quisque porta tellus at</a></li>
                            <li><a href="#">Sollicitudin in congue libero</a></li>
                            <li><a href="#">Duis vulputate urna in</a></li>
                            <li><a href="#">Velit ultrices tristique</a></li>
                            <li><a href="#">Cras feugiat diam vitae</a></li>
                            <li><a href="#">Donec ac tellus et metus pretium</a></li>
                            <li><a href="#">Ut consectetur libero at nisi</a></li>
                            <li><a href="#">Nulla facilisis pharetra sem</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Quisque porta tellus at</a></li>
                            <li><a href="#">Sollicitudin in congue libero</a></li>
                            <li><a href="#">Duis vulputate urna in</a></li>
                            <li><a href="#">Velit ultrices tristique</a></li>
                        </ul>
                        <div class="extra-links">
                            <a href="#">More links</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
