<!-- header -->
<header>
    <div class="logo">
        <h1><a href="<#= Config.SysRootPath#>/Page_index.html">Windepart<i>X</i></a></h1>
        <span class="description">NewLife Team</span>
    </div>
    <!--<a href="#" class="rss">RSS Submit</a>-->
    <nav>
        <ul>
            <li><a href="<#= Config.SysRootPath#>/Page_index.html" class="index">主页</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_about.html" class="about">关于我们</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_solutions.html" class="solutions">成功案例</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_partners.html" class="partners">合作伙伴</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_clients.html" class="clients">新闻中心</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_contacts.html" class="contacts">联系我们</a></li>
        </ul>
    </nav>
</header>
