<div class="wrapper">
    <!-- content -->
    <section id="content">
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_8">
                    <div class="indent">
                        <article>
                            <div class="inside1">
                                <h2>Affiliate programs</h2>
                                <div class="wrapper">
                                    <img src="images/majorimages/4page-img1.jpg" alt="" class="img-indent">
                                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                            </div>
                        </article>
                        <article class="last">
                            <div class="wrapper">
                                <div class="grid_4 colborder alpha">
                                    <div class="inside1">
                                        <h2>Our team</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Donec fringilla</a>, dui vitae aliquet facilisis, nisl ipsum vestibulum magna, ac dapibus turpis turpis non neque.</p>
                                        <p>In faucibus lorem sed libero sollicitudin vitae iaculis <a href="#">nunc auctor</a>. In id arcu sit amet libero vestibulum suscipit.</p>
                                        <p class="p3">Vestibulum porttitor metus quis urna faucibus quis interdum sapien malesuada. Donec sed ante id <a href="#">justo pharetra ornare</a>.</p>
                                        <a href="#" class="button">Read More</a>
                                    </div>
                                </div>
                                <div class="grid_4 omega">
                                    <div class="inside">
                                        <h2>Partnering for profit</h2>
                                        <p>
                                            <img src="images/majorimages/4page-img2.jpg" alt=""></p>
                                        <p class="p3">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penibus et gnis dis parturient montescetur sit amet consec tetuer adipiscing elituris.</p>
                                        <a href="#" class="button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <aside class="grid_4">
                    <div class="box">
                        <h2>Our partners</h2>
                        <ul class="list1">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Quisque porta tellus at</a></li>
                            <li><a href="#">Sollicitudin in congue libero</a></li>
                            <li><a href="#">Duis vulputate urna in</a></li>
                            <li><a href="#">Velit ultrices tristique</a></li>
                            <li><a href="#">Cras feugiat diam vitae</a></li>
                            <li><a href="#">Donec ac tellus et metus pretium</a></li>
                            <li><a href="#">Ut consectetur libero at nisi</a></li>
                            <li><a href="#">Nulla facilisis pharetra sem</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Quisque porta tellus at</a></li>
                            <li><a href="#">Sollicitudin in congue libero</a></li>
                            <li><a href="#">Duis vulputate urna in</a></li>
                            <li><a href="#">Velit ultrices tristique</a></li>
                        </ul>
                        <div class="extra-links">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
