<aside class="top">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_4 divider">
                <div class="inner">
                    <h3>
                        <img src="images/majorimages/icon1.png" alt="">Personal Finance<span></span></h3>
                    Wnec porta diam eu massa. Quisque diam  vitae, pede. Donec eget tellus non erat lacinia fermen tum. Donec in velit ve... <a href="#" class="link1">More Info</a>
                </div>
            </div>
            <div class="grid_4 divider">
                <div class="inner">
                    <h3>
                        <img src="images/majorimages/icon2.png" alt="">Resource Centers<span></span></h3>
                    Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec llus non erat lacini a fermentc in velit ve... <a href="#" class="link1">More Info</a>
                </div>
            </div>
            <div class="grid_4">
                <div class="inner">
                    <h3>
                        <img src="images/majorimages/icon3.png" alt="">Online Business<span></span></h3>
                    Diam lorem, interdum vitae, dapibus ac, scelerisq ue vitae, pede. Donec llus non erat lacinia ferm entc in velit ve... <a href="#" class="link1">More Info</a>
                </div>
            </div>
        </div>
    </div>
</aside>
