@{
    ViewBag.Title = "首页";
}
<div class="fixed center1">
    <div style="float: left; width: 260px;">
        <div class="shadow topnews" style="min-height:initial;">
            <div class="shadow_top">
                <div class="top_M">
                </div>
                <div class="top_R">
                </div>
            </div>
            <div class="left_M">
                <div class="fixed right_M">
                    <div class="title" style="text-align: center; line-height: 35px; color: white; font-size: 20px;">
                        检务公开
                    </div>
                    <ul class="last">

                        <li>
                            <a href="./yw/201503/t20150331_54067.html" target="_blank">
                                以案说法
                            </a>
                        </li>

                        <li>
                            <a href="./yw/201504/t20150402_54208.html" target="_blank">
                                大案要案关注
                            </a>
                        </li>

                        <li>
                            <a href="./yw/201504/t20150407_54384.html" target="_blank">
                                案件信息
                            </a>
                        </li>

                        <li>
                            <a href="./yw/201504/t20150403_54277.html" target="_blank">
                                法律文书
                            </a>
                        </li>

                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                法律法规
                            </a>
                        </li>

                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                通知公告
                            </a>
                        </li>
                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                办事服务
                            </a>
                        </li>
                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                检察职能
                            </a>
                        </li>
                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                机构设置
                            </a>
                        </li>
                        <li>
                            <a href="./yw/201504/t20150406_54328.html" target="_blank">
                                院领导介绍
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shadow_bottom">
                <div class="bottom_M">
                </div>
                <div class="bottom_R">
                </div>
            </div>
        </div>
        <div style="height: 50px;">
            <table style="width: 100%; text-align: center; font-size: 20px; line-height: 48px; color: white;">
                <tr>
                    <td style="background-color: #F4C297;">网上举报</td>
                    <td style="background-color: #F4C297;">网上申诉</td>
                </tr>
            </table>
        </div>
        <div class="widget2">
            <h2 class="tit">
                <em>人民检察院案件信息公开网</em>
            </h2>
            <h2 class="tit">
                <em>行贿犯罪档案查询</em>
            </h2>
        </div>
    </div>
    <div style="float: right;width: 658px; margin-right: 9px; padding: 10px; ">
        <dl class="widget_cont vedio_con edu_con fixed tab_list show">
            <dt>

                <a href="./xcjy/qlkm/201503/t20150322_53677.html" target="_blank"><img src="http://www.ccdi.gov.cn/xcjy/qlkm/201503/W020150323622271190531_220.jpg" alt="2.jpg" width="220" height="118"></a>
                <h4>
                    <a href="./xcjy/qlkm/201503/t20150322_53677.html" target="_blank">李彩菊：敢于担当的纪检人</a>
                </h4>

            </dt>
            <dd>
                <div class="tab_border1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                        <tbody>
                            <tr>
                                <td>
                                    <a href="./xcjy/qlkm/201503/t20150309_53032.html" target="_blank">吴波：两份遗嘱 两袖清风</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="./xcjy/qlkm/201503/t20150302_51934.html" target="_blank">杨通和：10年历练铸"硬汉"</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="./xcjy/qlkm/201502/t20150226_51745.html" target="_blank">邹碧华：这样的法官百姓需要</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="./xcjy/qlkm/201502/t20150210_51202.html" target="_blank">陈铖：舍得下生命却舍不下使命</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <a href="./xcjy/qlkm/" class="more2" target="_blank">
                    更多 <em class="song">&gt;&gt;</em>
                </a>
            </dd>
        </dl>
    </div>
</div>