<XConfig><NameSpace>NewLife.CMX</NameSpace><EntityConnName>CMX</EntityConnName><Debug>true</Debug><BaseClass>Entity</BaseClass><RenderGenEntity>false</RenderGenEntity><Override>false</Override><UseCNFileName>false</UseCNFileName><UseHeadTemplate>false</UseHeadTemplate><HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者：&lt;#=Environment.UserName + "/" + Environment.MachineName#&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：版权所有 (C) 新生命开发团队 2002~&lt;#=DateTime.Now.ToString("yyyy")#&gt;
*/
</HeadTemplate><OutputPath>F:\DotNetCode\cmx\Src\NewLife.CMX\..\Web\CMX\$(页面分类)</OutputPath><TemplateName>[内置]页面</TemplateName></XConfig>