<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style/djComm.css" rel="stylesheet" type="text/css" />
    <link href="style/djConts.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div class="top">
        <p>
            欢迎光临，现在是2013-12-20 11：01：30
        </p>
    </div>
    <#= Header#>
    <!--菜单-->
    <#= CMXExtend.Extend("outMenu","x","","",0,0,0,0,0)#>
    <!--flash-->
    <#= CMXExtend.Extend("topswf","x","","",0,0,0,0,0)#>
    <!--内容-->
    <div class="mid">
        <!--左侧菜单-->
        <#= CMXExtend.Extend("LeftMenuSingle","l",Suffix,ModelShortName,Convert.ToInt32(ArgDic["CategoryID"]),0,0,0,0)#>
        <div class="right">
            <p class="ptitle">
                您现在的位置：月无声电子设备事业部 > 咨询中心 > 应用技术
            </p>
            <div class="askList">
                <ul>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                    <li><span>2013-12-18</span> <a href="#">混合管_点胶针筒_粘接剂的运用常识 </a></li>
                </ul>
                <div class="page">
                    <a>首页</a> <a>上一页</a> <a>第1页</a> <a>下一页</a> <a>尾页</a>
                </div>
            </div>
        </div>
    </div>
    <#= Foot#>
</body>
</html>
