<div class="mid">
    <div class="title">
        <span>产品分类导航</span>
        <label>
            海量产品不断增加中，生意从这里开始，总有你所期待的....岁如流，月也无声，唯有心永恒...</label>
    </div>
    <div class="midcont">
        <ul class="parentul">
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
            <li>
                <img src="images/djimages/tindex.jpg" />
                <div>
                    <p class="ptitle">
                        静态混合管
                    </p>
                    <p class="types">
                        <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span> <a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span><a
                            href="#">PMA系列</a><span>|</span><a href="#">PMA系列</a><span>|</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
