<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style/djComm.css" rel="stylesheet" type="text/css" />
    <link href="style/djIndex.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div class="top">
        <p>
            欢迎光临，现在是2013-12-20 11：01：30
        </p>
    </div>
    <#= Header#>
    <!--菜单-->
    <#= CMXExtend.Extend("outMenu","x","","",0,0,0,0,0)#>
    <!--flash-->
    <#= CMXExtend.Extend("topswf","x","","",0,0,0,0,0)#>
    <!--内容-->
    <#= CMXExtend.Extend("indexContent","x","","",0,0,0,0,0)#>
    <#= Foot#>
</body>
</html>
