<div class="left left2">
    <p>
        案例分类
    </p>
    <ul>
        <li><a href="#">混合管</a> </li>
        <li><a href="#">点胶机</a> </li>
        <li><a href="#">点胶针头</a> </li>
        <li><a href="#">AB胶筒</a> </li>
        <li><a href="#">点胶阀门</a> </li>
        <li><a href="#">点胶针筒</a> </li>
        <li><a href="#">AB胶枪</a> </li>
        <li><a href="#">针筒适配器</a> </li>
        <li><a href="#">压力桶</a> </li>
        <li><a href="#">各种料管</a> </li>
        <li><a href="#">非标产品定制</a> </li>
    </ul>
    <p>
        联系我们
    </p>
    <span>地址：广东省东莞市高埗镇冼沙二上坊广场北路宝源工业园</span> <span>电话：0769-23107897</span> <span>传真：0769-23102536
    </span>
</div>
