<div class="outmenu">
    <div class="nav">
        <div class="menu">
            <ul>
                <li><a class="hide" href="Index.aspx">网站首页</a>
                    <!--[if lte IE 6]>
<a href="../menu/index.html">DEMOS
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                    <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
                </li>
                <li><a class="hide" href="Index.aspx">产品展示</a>
                    <!--[if lte IE 6]>
<a href="index.html">MENUS
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                    <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
                </li>
                <li><a class="hide" href="Index.aspx">案例演示</a>
                    <!--[if lte IE 6]>
<a href="../layouts/index.html">LAYOUTS
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                    <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
                </li>
                <li><a class="hide" href="Index.aspx">客服服务</a>
                    <!--[if lte IE 6]>
<a href="../boxes/index.html">BOXES
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                    <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
                </li>
                <li><a class="hide" href="Index.aspx">咨询中心</a>
                    <!--[if lte IE 6]>
<a href="../mozilla/index.html">MOZILLA
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                    <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
                </li>
                <li><a class="hide" href="Index.aspx">技术论坛</a>
                    <!--[if lte IE 6]>
<a href="../ie/index.html">EXPLORER
<table><tr><td>
<![endif]-->
                    <ul>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                        <li><a href="Index.aspx">子菜单</a></li>
                    </ul>
                </li>
                <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
            </ul>
            <!-- clear the floats if required -->
            <div class="clear">
            </div>
        </div>
    </div>
</div>
