<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style/djComm.css" rel="stylesheet" type="text/css" />
    <link href="style/djConts.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".productList li").each(function (i) {
                if (i % 4 == "0") {
                    $(this).css("margin-left", "20px");
                }
            });
        });
    </script>
    <title></title>
</head>
<body>
    <div class="top">
        <p>
            欢迎光临，现在是2013-12-20 11：01：30
        </p>
    </div>
    <!--头-->
    <#= Header#>
    <!--菜单-->
    <#= CMXExtend.Extend("outMenu","x","","",0,0,0,0,0)#>
    <!--flash-->
    <#= CMXExtend.Extend("topswf","x","","",0,0,0,0,0)#>
    <div class="mid">
        <!--左侧菜单-->
        <#= CMXExtend.Extend("LeftMenuMultiLine","l",Suffix,ModelShortName,Convert.ToInt32(ArgDic["CategoryID"]),0,0,0,0)#>
            <div class="right">
                <p class="ptitle">
                    产品展示 产品目录
                </p>
                <div class="productList">
                    <ul>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                        <li>
                            <img src="../../images/djimages/te.gif" />
                            <p>
                                <a>YWS系列</a>
                            </p>
                        </li>
                    </ul>
                    <div class="page">
                        <a>首页</a> <a>上一页</a> <a>第1页</a> <a>下一页</a> <a>尾页</a>
                    </div>
                </div>
            </div>
    </div>
    <!--页尾-->
    <#=Foot#>
</body>
</html>
