<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style/djComm.css" rel="stylesheet" type="text/css" />
    <link href="style/djConts.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div class="top">
        <p>
            欢迎光临，现在是2013-12-20 11：01：30
        </p>
    </div>
    <!--头-->
    <#= Header#>
    <!--菜单-->
    <#= CMXExtend.Extend("outMenu","x","","",0,0,0,0,0)#>
    <!--flash-->
    <#= CMXExtend.Extend("topswf","x","","",0,0,0,0,0)#>
    <!--内容-->
    <div class="mid">
        <!--左侧菜单-->
        <#= CMXExtend.Extend("LeftMenuSingle","l",Suffix,ModelShortName,Convert.ToInt32(ArgDic["CategoryID"]),0,0,0,0)#>
        <div class="right">
            <p class="ptitle">
                您现在的位置：月无声电子设备事业部 > 案例演示
            </p>

            <div class="cont">
                联系人：12345678901  杨小姐   QQ ：123456789（在后台根据需要添加即可，无样式）
            </div>
        </div>
    </div>
    <!--页尾-->
    <#=Foot#>
</body>
</html>
