.sliderwrapper
{
    position: relative; /*leave as is*/
    overflow: hidden; /*leave as is*/
    width: 450px; /*width of featured content slider*/
    height: 250px;
}



    .sliderwrapper .contentdiv
    {
        visibility: hidden; /*leave as is*/
        position: absolute; /*leave as is*/
        left: 0; /*leave as is*/
        top: 0; /*leave as is*/
        width: 450px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
        height: 100%;
        filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }

.pagination
{
    position: absolute;
    bottom: -40px;
    right: 10px;
}

    .pagination a
    {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        font-size: 0;
        outline: none;
        margin-right: 5px;
        background: url(../../images/metalimages/templatemo_slider_btn.png);
    }

        .pagination a:hover, .pagination a.selected
        {
            background: url(../../images/metalimages/templatemo_slider_btn_current.png);
        }
