@{
    var footer = Nav.Root.FindByPath("尾部") ?? Nav.Root;
}
<div class="inner">
    <nav class="clearfix">
        @foreach (var nav in footer.Childs)
        {
            <div>
                <h3>@nav.Name</h3>
                @foreach (var item in nav.Childs)
                {
                    <a href="@item.Url" target="@(item.Url.StartsWithIgnoreCase("http")?"_blank":"")">@item.Name</a><br>
                }
            </div>
        }
    </nav>
    <p id="copyright">© 1999-2015 </p>
    <p id="beian">京ICP证123456号</p>
</div>