<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>月无声--五金模具</title>
    <meta name="keywords" content="blue smoothie, our company, about us, web design" />
    <meta name="description" content="Blue Smoothie, Free Template, Website Design" />
    <link href="style/metalcss/templatemo_style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="Scripts/metaljs/jquery.min.js"></script>
    <script type="text/javascript" src="Scripts/metaljs/cmx.js"></script>
</head>

<body id="sub">
    <div id="templatemo_wrapper">
        <!--菜单-->
        <#= Header#>
        <!--banner-->
        <#= CMXExtend.Extend("aboutBanner.html",null,null,null,0,0,0,0,0)#>
        <!--内容-->
        <#= CMXExtend.Extend("aboutContent.html",null,null,null,0,0,0,0,0)#>
    </div>
    <#= Foot#>
    <!--版权-->
    <#= CMXExtend.Extend("copyright.html",null,null,null,0,0,0,0,0)#>
</body>
</html>
