<div id="templatemo_main">

    <div id="gallery">
        <ul>
            <li>
                <a href="images/metalimages/gallery/image_01_l.jpg" title="Aliquam in odio ut ipsum mollis facilisis."><span></span>
                    <img src="images/metalimages/gallery/image_01_s.jpg" alt="Image" />
                </a>
                <em>Aliquam in odio ut ipsum mollis facilisis.</em>
            </li>
            <li>
                <a href="images/metalimages/gallery/image_02_l.jpg" title="Pellentesque gravida diam eget tellus."><span></span>
                    <img src="images/metalimages/gallery/image_02_s.jpg" alt="Image" />
                </a>
                <em>Pellentesque gravida diam eget tellus.</em>
            </li>
            <li class="rm_col">
                <a href="images/metalimages/gallery/image_03_l.jpg" title="Curabitur ullamcorper magna sed erat."><span></span>
                    <img src="images/metalimages/gallery/image_03_s.jpg" alt="Image" />
                </a>
                <em>Curabitur ullamcorper magna sed erat.</em>
            </li>

            <li>
                <a href="images/metalimages/gallery/image_04_l.jpg" title="Fusce in ipsum purus venenatis interdum."><span></span>
                    <img src="images/metalimages/gallery/image_04_s.jpg" alt="Image" />
                </a>
                <em>Fusce in ipsum purus venenatis interdum.</em>
            </li>
            <li>
                <a href="images/metalimages/gallery/image_05_l.jpg" title="Proin elementum tortor et massa malesuada ut."><span></span>
                    <img src="images/metalimages/gallery/image_05_s.jpg" alt="Image" />
                </a>
                <em>Proin elementum tortor et massa malesuada ut.</em>
            </li>
            <li class="rm_col">
                <a href="images/metalimages/gallery/image_06_l.jpg" title="Nulla nunc eros, tempus ut commodo sit."><span></span>
                    <img src="images/metalimages/gallery/image_06_s.jpg" alt="Image" />
                </a>
                <em>Nulla nunc eros, tempus ut commodo sit.</em>
            </li>
        </ul>

        <div class="cleaner"></div>
    </div>

</div>
