<div id="templatmeo_header">
    <div id="site_title">
        <h1><a href="javascript:void(0);">月无声</a></h1>
    </div>
    <div id="templatemo_menu">
        <ul>
            <li><a href="Page_index.html" id="index">Home</a></li>
            <li><a href="Page_about.html" id="about">About Us</a></li>
            <li><a href="Page_blog.html" id="blog">Blog</a></li>
            <li><a href="Page_gallery.html" id="gallery">Gallery</a></li>
            <li><a href="Page_contact.html" id="contact">Contact</a></li>
        </ul>
    </div>
</div>
