<#@template inherits="NewLife.CMX.Templates.PageBase"#>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><#= WebSettingConfig.Title#></title>
    <meta name="keywords" content="<#= WebSettingConfig.Keywords#>" />
    <meta name="description" content="<#= WebSettingConfig.Description#>" />
    <link rel="stylesheet" type="text/css" href="<#= Config.Root #>/style/css1.css" />
    <script src="<#= Config.Root #>/Scripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<#= Config.Root #>/Scripts/javascript.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="wrpper">
            <#@include Name="Header"#>

            <div class="mainbody">
                <div class="top_image">
                    <img src="<#= Config.Root #>/images/top_i2.jpg" width="1021" height="120" />
                </div>

                <#=CMXExtend.Extend("LeftMenuModelList","l",Suffix,ModelShortName,CategoryID,0,0,0,0)#>

                <div class="content">
                    <div class="photo">
                        <div class="c1"><strong><#= ChannelName#></strong> <span>当前位置：首页 > <#= ChannelName#></span></div>
                        <div class="c2">
                            <div class="p1">
                                <a href="" target="_blank">
                                    <img src="images/product/p1.jpg" width="155" height="127" /><p>产品相册</p>
                                </a>
                            </div>
                            <div class="p2">
                                <a href="" target="_blank">
                                    <img src="images/photo/1.jpg" width="155" height="127" /><p>商业活动</p>
                            </div>
                            <div class="p3">
                                <a href="" target="_blank">
                                    <img src="images/photo/2.jpg" width="155" height="127" /><p>娱乐活动</p>
                            </div>
                            <div class="p4">
                                <a href="" target="_blank">
                                    <img src="images/photo/3.jpg" width="155" height="127" /><p>我们的团队</p>
                            </div>
                        </div>
                    </div>
                    <div class="c3">
                        <div class="video">
                            <div class="title"><strong>公司视频</strong><a href="#" class="more-link">了解更多</a></div>
                            <div class="v_con">
                                <a href="" target="_blank">
                                    <img src="images/product/video.jpg" width="343" /></a>
                            </div>
                            <div class="botton_bg"></div>
                        </div>
                        <div class="cul">
                            <div class="title"><strong>文章发布</strong><span class="more-link"><a href="#">了解更多</a></span></div>
                            <div class="v_con">
                                <img src="images/product/hot.jpg" width="343" />
                            </div>
                            <div class="botton_bg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <#@include Name="Foot"#>
        </div>
    </div>
</body>
</html>
