<div class="header">
    <div id="logo">
        <h1>东莞市月无声实业</h1>
    </div>
    <div class="mod">
        <ul>
            <li><a href='#' target="_blank">点胶设备</a></li>
            <li><a href='#' target="_blank">智能自控</a></li>
            <li><a href='#' target="_blank">化工胶水</a></li>
            <li><a href='#' target="_blank">五金模具</a></li>
        </ul>
        <form>
            <input name="" type="text" />
            <input name="搜索" type="submit" class="botton" id="搜索" value="搜索" />
        </form>
    </div>
    <div class="nav">
        <div class="parent">
            <ul>
                <li class="index"><a href='<#= Config.Root#>/index.html'>网站首页</a></li>
                <li class="about"><a href='javascript:void(0);'>关于月无声</a></li>
                <li class="product"><a href='javascript:void(0);'>产品与服务</a></li>
                <li class="com"><a href="<#= Config.Root#>/List/QYWH/0/Culture/WZ.html">企业文化</a></li>
                <li class="employ"><a href='javascript:void(0);'>人才招聘</a></li>
                <li class="new"><a href='javascript:void(0);'>新闻中心</a></li>
                <li class="forum"><a href="#">技术论坛</a></li>
                <li class="shop"><a href="#">月无声商城</a></li>
            </ul>
        </div>
        <div class="child">
            <ul class="about">
                <li><a href='<#= Config.Root#>/List/GYYWS/3/$.html'>公司简介</a></li>
                <li><a href='<#= Config.Root#>/List/GYYWS/4/$.html'>部门介绍</a></li>
                <li><a href='<#= Config.Root#>/List/GYYWS/5/$.html'>公司荣誉</a></li>
                <li><a href='<#= Config.Root#>/List/GYYWS/6/$.html'>联系我们</a></li>
            </ul>
            <ul class="product">
                <li id="product_01"><a>点胶设备</a>
                    <dl>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/5/ProductModelList.html'>混合管</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/6/ProductModelList.html'>点胶机</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/7/ProductModelList.html'>点胶针头</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/8/ProductModelList.html'>压力桶</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/9/ProductModelList.html'>AB胶筒</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/10/ProductModelList.html'>胶枪</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/11/ProductModelList.html'>点胶阀门</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/12/ProductModelList.html'>转接头</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/13/ProductModelList.html'>密封件</a></dt>
                    </dl>
                </li>
                <li><a>智能自动化</a>
                    <dl>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/14/ProductModelList.html'>自动化设备</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/15/ProductModelList.html'>阿波罗智能控制器</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/16/ProductModelList.html'>阿波罗物联网网关</a></dt>
                    </dl>
                </li>
                <li><a>化工胶水</a>
                    <dl>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/17/ProductModelList.html'>水性万能胶</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/18/ProductModelList.html'>单组份水性喷胶</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/19/ProductModelList.html'>双组份水性喷胶</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/20/ProductModelList.html'>手袋专用环保喷胶</a></dt>
                    </dl>
                </li>
                <li><a>五金模具</a>
                    <dl>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/21/ProductModelList.html'>塑料A</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/22/ProductModelList.html'>塑料B</a></dt>
                        <dt><a href='<#= Config.Root#>/List/CPYFW/23/ProductModelList.html'>塑料C</a></dt>
                    </dl>
                </li>
            </ul>
            <ul class="employ">
                <li><a href='<#= Config.Root#>/List/RCZP/3/ArticleModelListSingle/WZ.html'>点胶设备事业部</a></li>
                <li><a href='<#= Config.Root#>/List/RCZP/6/ArticleModelListSingle/WZ.html'>智能声控事业部</a></li>
                <li><a href='<#= Config.Root#>/List/RCZP/5/ArticleModelListSingle/WZ.html'>化工胶水事业部</a></li>
                <li><a href='<#= Config.Root#>/List/RCZP/4/ArticleModelListSingle/WZ.html'>五金模具事业部</a></li>
            </ul>
            <ul class="new">
                <li><a href="<#= Config.Root#>/List/$/2/$/WZ.html">公司新闻</a></li>
                <li><a href="<#= Config.Root#>/List/$/3/$/WZ.html">行业新闻</a></li>
                <li><a href="<#= Config.Root#>/List/$/4/$/WZ.html">咨询中心</a></li>
            </ul>
        </div>
    </div>
</div>
