@{
    ViewBag.Title = "首页";
}
<div class="jumbotron">
    <p>
        <h1>学无先后达者为师</h1>
    </p>
</div>
<div class="benefits container">
    @foreach (var chn in Channel.FindAllWithCache())
    {
        var cats = chn.AllCategories;
        if (cats.Count > 0)
        {
            var width = 12 / cats.Count;
            var left = 12 - width * cats.Count;
            var right = left / 2;
            left -= right;
            <div class="row" channel="@chn.Name">
                @if (left > 0)
                {
                    <div class="col-md-@left"></div>
                }
                @foreach (var cat in chn.Categories)
                {
                    <div class="col-md-@width">
                        <h2>@cat.Name</h2>
                        <p>@cat.Num</p>
                    </div>
                }
                @if (right > 0)
                {
                    <div class="col-md-@right"></div>
                }
            </div>
        }
    }
</div>
