<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <!--网站名字-->
  <Name>默认网站</Name>
  <!--公司名称-->
  <Company>新生命开发团队</Company>
  <!--网站域名。以“http://”开头-->
  <Url>http://localhost:31506/Web</Url>
  <!--联系电话-->
  <Tel />
  <!--传真号码-->
  <Fax />
  <!--管理员邮箱-->
  <Mail />
  <!--网站备案号-->
  <Crod />
  <!--首页标题(SEO)。自定义的首页标题-->
  <Title>XTCMS内容管理系统</Title>
  <!--页面关健词(SEO)。页面关键词(keyword)-->
  <KeyWord>XTCMS,新生命开发团队</KeyWord>
  <!--页面描述(SEO)。页面描述(description)-->
  <Description />
  <!--版权信息。支持HTML格式-->
  <CopyRight />
</SiteConfig>