<?xml version="1.0" encoding="utf-8"?>
<UEditorConfig>
  <!--编辑器路径。编辑器所在目录，建议用相对路径 默认为根目录下的UEditor-->
  <UEditorPath>/UEditor/</UEditorPath>
  <!--附件上传目录。上传图片或附件的目录，自动创建在网站根目录下-->
  <UploadPath>/Upload/</UploadPath>
  <!--图片上传处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=image 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=image-->
  <ImgUpUrl>/UEditor/UEditorAjax.ashx?ac=image</ImgUpUrl>
  <!--图片上传类型。以英文的逗号分隔开，如：“.jpg,.gif,.png,.jpeg,.bmp”-->
  <ImgExtension>.jpg,.gif,.png,.jpeg,.bmp</ImgExtension>
  <!--图片上传大小，文件大小限制，单位kb 默认3072kb-->
  <ImgFileSize>3072</ImgFileSize>
  <!--文件上传处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=file 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=file-->
  <FileUrl>/UEditor/UEditorAjax.ashx?ac=file</FileUrl>
  <!--文件上传类型。以英文的逗号分隔开，如：“.rar,.doc,.docx,.zip,.pdf,.txt,.swf”-->
  <FileExtension>.rar,.doc,.docx,.zip,.pdf,.txt,.swf</FileExtension>
  <!--附件上传大小，文件大小限制，单位kb 默认30720kb-->
  <FileFileSize>30720</FileFileSize>
  <!--涂鸦图片处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=scraw 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=scraw-->
  <ScrawUrl>/UEditor/UEditorAjax.ashx?ac=scraw</ScrawUrl>
  <!--远程抓取处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=remote 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=remote-->
  <GetRemoteUrl>/UEditor/UEditorAjax.ashx?ac=remote</GetRemoteUrl>
  <!--图片在线管理处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=imagemanager 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=imagemanager-->
  <ImageManagerUrl>/UEditor/UEditorAjax.ashx?ac=imagemanager</ImageManagerUrl>
  <!--获取视频数据处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=movie 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=movie-->
  <MovieUrl>/UEditor/UEditorAjax.ashx?ac=movie</MovieUrl>
  <!--屏幕截图服务器地址。屏幕截图的server端文件所在的网站地址或者ip，请不要加http://-->
  <SnapscreenHost>127.0.0.1</SnapscreenHost>
  <!--屏幕截图处理文件所在目录，建议用相对路径 默认为根目录下的UEditor/UEditorAjax.ashx?ac=image 如自己修改，请带全路径/UEditor/UEditorAjax.ashx?ac=image-->
  <SnapscreenUrl>/UEditor/UEditorAjax.ashx?ac=image</SnapscreenUrl>
</UEditorConfig>