<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="urlRewriteConfig" type="XUrlRewrite.Configuration.UrlRewriteConfig, XUrlRewrite"/>
  </configSections>
  <urlRewriteConfig directory="~/Template" customfilter="XCMS.Entities.SiteCluster.FilterUrlRewrite">
    <urls>
      <!-- 静态重定向,用于特定页 -->
      <add url="^/Default.aspx" to="/Default.aspx" regexFlag="i"/>

      <!--<add url="" to="" type="normal"/>-->

      <!-- 列表页 -->
      <add url="/List/([^_\.]*)(_){0,1}(\d+){0,1}/(\d+)/([^_\.]*)\.aspx" to="/List.aspx?Suffix=$1&amp;pageindex=$3&amp;CategoryID=$4&amp;Address=$5" regexFlag="i"/>

      <!-- 内容页 -->
      <add url="/Info/([^_/]*)/(\d+)/([^_\.]*)\.aspx"   to="/Info.aspx?Suffix=$1&amp;ID=$2&amp;Address=$3" regexFlag="i"/>
    </urls>
  </urlRewriteConfig>
</configuration>
