<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="urlRewriteConfig" type="XUrlRewrite.Configuration.UrlRewriteConfig, XUrlRewrite"/>
  </configSections>
  <urlRewriteConfig directory="~/Template" customfilter="XCMS.Entities.SiteCluster.FilterUrlRewrite">
    <urls>
      <!-- 静态重定向,用于特定页 -->
      <add url="^/Default.aspx" to="/Default.aspx" regexFlag="i"/>

      <add url="^/index.html" to="/Common.aspx?Address=index" regexFlag="i"/>
      <!--<add url="" to="" type="normal"/>-->

      <!-- 列表页 -->
      <add url="/List/([^_\./]*)(_){0,1}(\d*)(_){0,1}(\d*)/(\d*)/([^_\./]*)/([^_\./]*)\.html" to="/List.aspx?Suffix=$1&amp;Pageindex=$3&amp;RecordNum=$5&amp;CategoryID=$6&amp;Address=$7&amp;ModelSN=$8" regexFlag="i"/>

      <!--<add url="/List/([^_\.]*)(_){0,1}(\d+){0,1}(_){0,1}(\d+){0,1}/([^_\.]*)\.html" to="/List.aspx?Suffix=$1&amp;Pageindex=$3&amp;ListNum=$5&amp;Address=$6" regexFlag="i"/>-->

      <!-- 内容页 -->
      <add url="/Info/([^_/]*)/(\d+)/([^_\.]*)(/){0,1}([^_\./]*)\.html"   to="/Info.aspx?Suffix=$1&amp;ID=$2&amp;Address=$3&amp;ModelSN=$5" regexFlag="i"/>
    </urls>
  </urlRewriteConfig>
</configuration>
