<?xml version="1.0" encoding="utf-8"?>
<!--Url重写地址配置-->
<UrlConfig>
  <!--Url为匹配请求地址的正则表达式，Target为要重写的目标地址，可以使用$1等匹配项，Name只是标识作用，不参与业务处理-->
  <Urls>
    <Item Name="页面" Url="^/([^/]+)\.(?:htm|html|aspx)" Target="PageHandler?Name=$1" />
    <Item Name="脚本" Url="^/((?:js|javascript)/[^/]+\.js)" Target="ResHandler?File=$1" />
    <Item Name="样式" Url="^/((?:css|style)/[^/]+\.css)" Target="ResHandler?File=$1" />
    <Item Name="图片" Url="^/((?:images|image)/[^/]+\.(?:png|gif|jpg))" Target="ResHandler?File=$1" />
    <Item Url="/List/([^_\./]*)(_){0,1}(\d*)(_){0,1}(\d*)/(\d*)/([^_\./]*)(/){0,1}([^_\./]*)\.html" Target="List.aspx?Suffix=$1&amp;Pageindex=$3&amp;RecordNum=$5&amp;CategoryID=$6&amp;Address=$7&amp;ModelSN=$9" />
    <Item Url="/Info/([^_/]*)/(\d+)/([^_\./]*)(/){0,1}([^_\./]*)\.html" Target="Template/Info.aspx?Suffix=$1&amp;ID=$2&amp;Address=$3&amp;ModelSN=$5" />
    <Item Url="List_(\d+).html" Target="Default.aspx?ID=$1" />
    <Item Url="^/Page_([^\./_]+).html" Target="Template/Common.aspx?Address=$1" />
  </Urls>
</UrlConfig>