<?xml version="1.0" encoding="utf-8"?>
<!--网站配置-->
<WebSettingConfig>
  <Index>/Web/Index.html</Index>
  <Contact>#</Contact>
  <Forum>#</Forum>
  <Shop>#</Shop>
  <Copyright>版权所有 © 2008-2012 东莞市月无声电子设备有限公司</Copyright>
  <Address>东莞市高埗镇冼沙村广场北路宝源工业区</Address>
  <Tel>0769-23107897 0769-23107080 </Tel>
  <ICP>粤ICP备09218017号</ICP>
  <Title>月无声实业</Title>
  <Keywords>灌胶机,混合管,AB胶枪,点胶针筒,点胶针头</Keywords>
  <Description>月无声电子设备有限公司坐落在交通方便的东莞市区,毗邻深圳、广州、佛山、惠州等城市。其主要产品有：双液灌胶机，精准双液点胶机，混合管，点胶机,AB胶枪，点胶针头，AB胶筒，点胶针筒，点胶针头，不锈钢压力桶。月无声的点胶设备适用于：环氧树脂，PU，双组份硅胶和其他双组份流体材料。</Description>
</WebSettingConfig>