<section id="main-banner">
    <div class="intro">
        <div class="inner"><strong>trust our</strong> experience to manage your <span>business!</span> </div>
    </div>
    <div class="anythingSlider">
        <div class="wrapper">
            <ul>
                <li>
                    <img src="images/majorimages/slide1.png" alt="" /></li>
                <li>
                    <img src="images/majorimages/slide2.png" alt=""></li>
                <li>
                    <img src="images/majorimages/slide3.png" alt=""></li>
                <li>
                    <img src="images/majorimages/slide4.png" alt=""></li>
                <li>
                    <img src="images/majorimages/slide5.png" alt=""></li>
            </ul>
        </div>
    </div>
</section>
