<!-- footer -->
<footer>
    <nav>
        <ul>
            <li><a href="<#= Config.Root#>/Page_index.html" class="index">主页</a></li>
            <li><a href="<#= Config.Root#>/Page_about.html" class="about">关于我们</a></li>
            <li><a href="<#= Config.Root#>/Page_solutions.html" class="solutions">成功案例</a></li>
            <li><a href="<#= Config.Root#>/Page_partners.html" class="partners">合作伙伴</a></li>
            <li><a href="<#= Config.Root#>/Page_clients.html" class="clients">媒体中心</a></li>
            <li><a href="<#= Config.Root#>/Page_contacts.html" class="contacts">联系我们</a></li>
        </ul>
    </nav>
</footer>
