<!-- header -->
<header>
    <div class="logo">
        <h1><a href="index.html">Consulte<i>X</i></a></h1>
        <span class="description">our customers support</span>
    </div>
    <a href="#" class="rss">RSS Submit</a>
    <nav>
        <ul>
            <li><a href="<#= Config.SysRootPath#>/Page_index.html" id="index">Home Page</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_aboutUs.html" id="aboutUs">About Us</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_solutions.html" id="solutions">Solutions</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_partners.html" id="partners">Partners</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_clients.html" id="clients">Clients</a></li>
            <li><a href="<#= Config.SysRootPath#>/Page_contacts.html" id="contacts">Contacts</a></li>
        </ul>
    </nav>
</header>
