<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/majorcss/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="style/majorcss/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="style/majorcss/style.css" type="text/css" media="all">
    <script type="text/javascript" src="Scripts/majorjs/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="Scripts/majorjs/jquery.anythingslider.js"></script>
    <script type="text/javascript" src="Scripts/majorjs/jquery.easing.1.2.js"></script>
    <script type="text/javascript" src="Scripts/majorjs/cmx.js"></script>
    <script type="text/javascript">

        function formatText(index, panel) {
            return index + "";
        }

        $(function () {

            $('.anythingSlider').anythingSlider({
                easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
                autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
                delay: 3000,                    // How long between slide transitions in AutoPlay mode
                startStopped: false,            // If autoPlay is on, this can force it to start stopped
                animationTime: 600,             // How long the slide transition takes
                hashTags: true,                 // Should links change the hashtag in the URL?
                buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
                pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
                startText: "Play",             // Start text
                stopText: "Stop"               // Stop text
            });
        });
    </script>
    <!--[if lt IE 7]>
  <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
  <script type="text/javascript" src="js/ie_png.js"></script>
  <script type="text/javascript">
      ie_png.fix('.png');
  </script>
<![endif]-->
    <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div id="main">
        <#@include Name="Header"#>
        <#= CMXExtend.Extend("banner.html",null,null,null,0,0,0,0,0)#>
        <#= CMXExtend.Extend("topContent.html",null,null,null,0,0,0,0,0)#>
        <#= CMXExtend.Extend("indexContent.html",null,null,null,0,0,0,0,0)#>
        <#@include Name="Foot"#>
    </div>
</body>
</html>
