@model NewLife.CMX.Info
@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@using NewLife.CMX.Web;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;
    var inf = Model as Info;
    var text = inf.Ext as Text;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @await Html.PartialAsync("_Form_Header", entity)
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @await Html.PartialAsync("_Form_Title", entity)
            <div class="form-group">
                <label class="control-label col-md-2">内容</label>
                <div class="col-md-10">
                    @await Html.PartialAsync("_Form_Content", entity)
                </div>
            </div>
            @await Html.PartialAsync("_Form_Footer", entity)
            @await Html.PartialAsync("_Form_Action", entity)
        }
    </div>
</div>