<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/jquery.anythingslider.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.2.js"></script>
<script type="text/javascript">
    
	function formatText(index, panel) {
		return index + "";
		}
	
			$(function () {
			
				$('.anythingSlider').anythingSlider({
					easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
					autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
					delay: 3000,                    // How long between slide transitions in AutoPlay mode
					startStopped: false,            // If autoPlay is on, this can force it to start stopped
					animationTime: 600,             // How long the slide transition takes
					hashTags: true,                 // Should links change the hashtag in the URL?
					buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
					pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
					startText: "Play",             // Start text
					stopText: "Stop"               // Stop text
				});
			});
</script>
<!--[if lt IE 7]>
  <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
  <script type="text/javascript" src="js/ie_png.js"></script>
  <script type="text/javascript">
      ie_png.fix('.png');
  </script>
<![endif]-->
<!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="main">
  <!-- header -->
  <header>
    <div class="logo">
      <h1><a href="index.html">Consulte<i>X</i></a></h1>
      <span class="description">our customers support</span> </div>
    <a href="#" class="rss">RSS Submit</a>
    <nav>
      <ul>
        <li><a href="index.html">Home Page</a></li>
        <li><a href="index-1.html">About Us</a></li>
        <li><a href="index-2.html" class="current">Solutions</a></li>
        <li><a href="index-3.html">Partners</a></li>
        <li><a href="index-4.html">Clients</a></li>
        <li><a href="index-5.html">Contacts</a></li>
      </ul>
    </nav>
  </header>
  <section id="main-banner">
    <div class="intro">
      <div class="inner"> <strong>trust our</strong> experience to manage your <span>business!</span> </div>
    </div>
    <div class="anythingSlider">
      <div class="wrapper">
        <ul>
          <li><img src="images/slide1.png" alt=""></li>
          <li><img src="images/slide2.png" alt=""></li>
          <li><img src="images/slide3.png" alt=""></li>
          <li><img src="images/slide4.png" alt=""></li>
          <li><img src="images/slide5.png" alt=""></li>
        </ul>
      </div>
    </div>
  </section>
  <aside class="top">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_6 divider">
          <div class="inner">
            <h3><img src="images/icon2.png" alt="">Integrations<span></span></h3>
            Pellentesque vestibulum elit sit amet ligula rhoncus tincidunt. Maecenas velit urna, ultricies et venenatis in, auctor eu velit iaculis eget dignissim urna. Phasellus sagittis urna non nisl tincidunt adipiscing... <a href="#" class="link1">More Info</a>
          </div>
        </div>
        <div class="grid_6">
          <div class="inner">
            <h3><img src="images/icon1.png" alt="">Documentation<span></span></h3>
            Vestibulum feugiat erat eu metus commodo sagittis. Duis pharetra erat et orci iaculis vitae facilisis tellus feugiat. Vivamus quis leo et risus aliquet feugiat at in lacus... <a href="#" class="link1">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="wrapper">
    <!-- content -->
    <section id="content">
    	<div class="container_12">
        <div class="wrapper">
        	<aside class="grid_4">
        		<div class="box">
            	<h2>Customers solutions</h2>
              <ul class="list1">
              	<li><a href="#">Apparel Businesses</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Children's Businesses</a></li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Gifts &amp; Novelties</a></li>
                <li><a href="#">Home-Improvement Products</a></li>
                <li><a href="#">Miscellaneous Products &amp; Services</a></li>
                <li><a href="#">Network Marketing</a></li>
                <li><a href="#">Personal-Care Businesses</a></li>
                <li><a href="#">Photo Businesses</a></li>
              </ul>
              <div class="extra-links">
              	<a href="#">Read more</a>
              </div>
            </div>
            <div class="box">
            	<h2>Receive our Newsletter</h2>
              <p>We have new talented people and<br />
              technologies every week, so stay in touch!</p>
              <form action="" id="newsletter-form">
                <fieldset><input type="text"><input type="submit" value="ok"></fieldset>
              </form>
            </div>
          </aside>
          <div class="grid_8">
            <div class="indent">
              <article>
                <div class="inside">
                	<h2>Professional research</h2>
                  <div class="wrapper">
                    <img src="images/3page-img1.jpg" alt="" class="img-indent">
                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                    <a href="#" class="button">Read More</a>
                  </div>
                </div>
              </article>
              <article class="last">
              	<div class="inside">
                	<h2>Enterprise solution</h2>
                  <div class="img-box">
                    <img src="images/3page-img2.jpg" alt="">
                    <h4>Morbi tristique elit eu risus rhoncus vel fermentum leo semper. </h4>
                    Pellentesque non odio lacus, et mollis magna. Vivamus sollicitudin consectetur leo laoreet fermentum. Fusce placerat sagittis augue <a href="#">non fermentum</a>. Morbi quis justo et erat pharetra volutpat. Maecenas non purus ligula. 
                  </div>
                  <p>Vestibulum feugiat erat eu metus commodo sagittis. Duis pharetra erat et orci iaculis vitae facilisis tellus feugiat. Vivamus quis leo et risus aliquet feugiat at in lacus. Vestibulum interdum dui sit amet ante aliquam ultrices at in neque. <a href="#">Suspendisse vitae</a> magna et enim tincidunt luctus. Donec sed tellus ligula. Suspendisse sit amet elit eros. Morbi ut scelerisque lorem.</p>
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- footer -->
  <footer>
  	<nav>
  	  <ul>
      	<li><a href="index.html">Home Page</a></li>
        <li><a href="index-1.html">About Us</a></li>
        <li><a href="index-2.html" class="current">Solutions</a></li>
        <li><a href="index-3.html">Partners</a></li>
        <li><a href="index-4.html">Clients</a></li>
        <li><a href="index-5.html">Contacts</a></li>
      </ul>
  	</nav>
 
  </footer>
</div>
</body>
</html>
