@model NewLife.CMX.SiteConfig

@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";
    ViewBag.Title = "网站配置";

    var isNew = false;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @Html.EditorForModel()
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
